<!-- <div class="modal" id="overlay" tabindex="-1" role="dialog" *ngIf="show && !openVideo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="blue3 modal-title">Rate Doctor</h4>
      </div>
      <div class="modal-body">
        <div class="store-rater">
          <app-rating *ngFor="let item of items" [rating]='item.rating' [itemId]='item.id'
            (ratingClick)='ratingComponentClick($event)'></app-rating>
        </div>
        <form class="review-entry" [formGroup]="commentForm">
          <label for="name " class="blue3">Write Review</label>
          <div class="form-item form-group">
            <input type="text" name="" formControlName="comment" id="" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" required>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-reject" data-dismiss="modal" (click)="close()">Cancel</button>
        <button class="buttn blue post-rev btn-primary pointer" (click)="onSubmit()">POST REVIEW
        </button>
      </div>
    </div>
  </div>
</div> -->