@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("../../../../assets/custom/marketnaija-icons/font/flaticon.css");
.container-fluid {
  background-color: #f3f5fa;
  height: auto;
}

.nav {
  display: block !important;
}

.nav-item {
  width: 100%;
}

.nav-link {
  width: 100%;
  color: #54667a;
  background: #ffffff;
  padding: 15px;
}

.nav-link i {
  width: 20px;
}

.side-nav {
  padding-left: 0px !important;
  background: #ffffff;
  padding-top: 20px;
  padding-right: 0px !important;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 100;
  min-height: 40em;
}

.side-nav ul {
  margin-top: 6px;
}

.nav-pills .nav-link.active {
  border-radius: 0px !important;
  background-color: #ffffff;
  color: #54667a;
  border-right: 3px solid #008080;
  font-weight: bold;
}

.nav-pills .nav-link:hover {
  border-radius: 0px !important;
  background-color: #dfdfdf;
}

.top-menu {
  border-bottom: 0px;
}

.body-container {
  padding: 0px;
}

.pill-title {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 25px;
}

/* .body-container-fluid {
  height: 100vh;
} */

.card-container {
  padding: 20px;
}

.card {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
  height: 150px;
  color: #54667a;
}

.box-content {
  font-size: 24px;
  font-weight: 100;
  font-family: Rubik, sans-serif;
  color: #7ace4c;
  text-align: right;
  display: flex;
}

.text-green {
  color: #7ace4c;
}

.text-purple {
  color: #707cd2;
}

.text-blue {
  color: #41b3f9;
}

.text-red {
  color: #e63c3c;
}

.box-title {
  margin: 0 0 48px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  color: #313131;
}

.card-12 {
  padding: 20px;
  margin-bottom: 30px !important;
  border: 1px solid #ffffff;
  background: #fff;
  margin: auto;
  max-width: 97% !important;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  overflow: auto;
}

.patient-image-container {
  padding: 8px;
}

.patient-image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.patient-card-container {
  text-align: center;
  padding: 0 0 20px;
  border-bottom: 1px solid #f0f0f0;
  font-family: sans-serif;
}

.info-flex {
  display: flex;
  padding-bottom: 10px;
  font-size: .875rem;
}

.info-title {
  flex-basis: 30%;
  font-weight: 500;
  color: #272b41;
}

.info-detail {
  flex-basis: 70%;
  text-align: end;
  color: #757575;
  font-weight: 400;
}

.bio-container {
  padding-top: 20px;
}

.patient-address {
  color: #757575;
  font-size: 1rem;
}

.location-flex {
  display: inline-flex;
  align-items: flex-end;
}

.patient-id {
  margin-right: 9px;
  color: #2E3842;
  font-size: 1rem;
  font-weight: bold;
}

.patient-name {
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
  color: #2E3842;
  text-overflow: ellipsis;
}

.patient-card {
  flex-basis: 30%;
  min-height: 300px;
  border-radius: 5px;
}

.patient-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

.paginate /deep/ .ngx-pagination .current {
  background: #008080;
}

.paginate /deep/ .ngx-pagination {
  text-align: center;
}

.paginate {
  margin: auto;
}

.patient-img-container {
  max-width: 12.666667% !important;
}

.patient-info-container h3 {
  font-size: 17px;
  color: #2e3842;
  white-space: nowrap;
}

.patient-info-container {
  margin-right: 43px;
}

.patient-info h5 {
  font-size: 13px;
  color: #757575;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
  font-weight: normal;
}

.patient-info h5 i {
  width: 18px;
}

.action-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: end;
}

.action-btn button {
  margin-right: 5px;
  height: 38px;
  padding-bottom: 15px;
}

.btn-view {
  background-color: rgba(2, 182, 179, 0.12) !important;
  color: #1db9aa !important;
  border-color: transparent !important;
}

.doctor-detail {
  text-align: center;
  padding-right: 40px;
  padding-bottom: 8px;
  border-bottom: 2px solid #eeeeee;
}

.doctor-detail img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
}

.table-title {
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: #313131;
}

.completed-title {
  width: 24%;
}

.card-value {
  flex-basis: 80%;
}

.wallet {
  height: 2.5rem;
}

.empty-message {
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  color: #313131;
}

.doctor-detail-img-container {
  width: 120px;
  padding: 8px;
  background-color: #f7f7f7;
  border-radius: 100%;
  margin: auto;
  height: 120px;
}

.doctor-detail h3 {
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.doctor-detail h5 {
  color: #757575;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-accept {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
  border-color: transparent !important;
}

.btn-reject {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
  border-color: transparent !important;
}