<div class="container-fluid">
  <div class="row body-container-fluid">
    <!-- <app-video-chat *ngIf="openVideo" [groupName]="groupName"></app-video-chat> -->

    <div *ngIf="!openVideo" class="col-md-4 col-lg-3 col-xl-2  side-nav">
      <div class="doctor-detail">
        <div class="doctor-detail-img-container">
          <img src="{{doctorDetail.user.imageUrl}}" alt="">

        </div>
        <h3>Dr. {{doctorDetail.user.firstName | titlecase}} {{doctorDetail.user.lastName | titlecase}}</h3>
        <h5>{{doctorDetail.specialization.specializationName}}</h5>
      </div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab"
            aria-controls="pills-dashboard" aria-selected="true">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            Dashboard</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-appointments" role="tab"
            aria-controls="pills-profile" aria-selected="false">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-markets-tab" data-toggle="pill" href="#pills-patients" role="tab"
            aria-controls="pills-markets" aria-selected="false">
            <i class="fa fa-users" aria-hidden="true"></i>
            Patients</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab"
            aria-controls="pills-products" aria-selected="false" (click)="getDashboardData()">
            <i class="fa fa-money" aria-hidden="true"></i>
            Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-salesreport-tab" data-toggle="pill" href="#pills-salesreport" role="tab"
            aria-controls="pills-salesreport" aria-selected="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" id="pills-salesreport-tab" data-toggle="pill" href="#pills-logout" (click)="onLogout()"
            role="tab" aria-controls="pills-salesreport" aria-selected="false">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Home</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!openVideo" class="col-md-8 col-lg-9 col-xl-10 body-container">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
          aria-labelledby="pills-dashboard-tab">
          <div class="pill-title">DASHBOARD</div>
          <div class="row card-container">
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Total Patients</h3>
                <div class="box-content text-green">
                  <div class="card-icon-container">
                    <img src="./assets/custom/images/patient1.png" alt="">
                  </div>
                  <div class="card-value">
                    {{patientCount}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Total Appointments </h3>
                <div class="box-content text-purple">
                  <div class="card-icon-container">
                    <img src="./assets/custom/images/calender.png" alt="">
                  </div>
                  <div class="card-value">
                    {{appointmentsCount}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Total Earnings</h3>
                <div class="box-content text-blue">
                  <div class="card-icon-container">
                    <img class="wallet" src="./assets/custom/images/payment.svg" alt="">
                  </div>
                  <div class="card-value">
                    &#8358; 250,000 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="table-title">All Appointments</div>
            <div class="empty-message" *ngIf="appointmentsCount === 0">You do not have any appointments
            </div>
            <table class="table" *ngIf="appointmentsCount > 0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Age</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of appointments | paginate: { itemsPerPage: 10, currentPage: p }">
                  <th>{{appointment.sessionCode}}</th>
                  <td>{{appointment.patient.user.firstName | titlecase}}
                    {{appointment.patient.user.lastName | titlecase}}</td>
                  <td>{{appointment.patient.user.email | titlecase}}</td>
                  <td>{{appointment.patient.user.age}}</td>
                  <td>{{appointment.status}}</td>
                  <td> <button class="btn-view btn btn-primary">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      View
                    </button></td>
                  <!-- <td> <button class="btn-accept btn btn-primary">
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Accept
                    </button></td>
                  <td><button class="btn-reject btn btn-primary">
                      <i class="fa fa-times" aria-hidden="true"></i>
                      Reject
                    </button></td> -->

                </tr>

              </tbody>
            </table>
            <pagination-controls class="paginate" (pageChange)="p = $event"></pagination-controls>

          </div>




        </div>

        <div class="tab-pane fade show " id="pills-appointments" role="tabpanel"
          aria-labelledby="pills-appointments-tab">
          <div class="pill-title">APPOINTMENTS</div>
          <div class="row card-container">
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Pending Appointments</h3>
                <div class="box-content text-blue">{{pendingAppointmentsCount}}</div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Active Appointments </h3>
                <div class="box-content text-red">{{activeAppointmentsCount}}</div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="card">
                <h3 class="box-title">Completed Appointments</h3>
                <div class="box-content text-green">{{completedAppointmentsCount}}</div>
              </div>
            </div>
          </div>
          <div class="row card-container">
            <div class="table-title completed-title">Completed Appointments</div>

            <div class="card-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="completedAppointmentsCount === 0">
              <div>You have not completed any appointments</div>
            </div>
            <ng-container *ngIf="appointmentsCount > 0">
              <div class="card-12 col-lg-12 col-sm-12 col-xs-12"
                *ngFor="let appointment of completedAppointments | paginate: { itemsPerPage: 10, currentPage: p }">
                <div class="row">
                  <div class="patient-img-container col-lg-2 col-sm-2 col-xs-2">
                    <img src="{{appointment.patient.user.imageUrl}}" alt="" class="patient-img">
                  </div>
                  <div class="patient-info-container col-lg-3 col-sm-3 col-xs-3">
                    <h3>{{appointment.patient.user.firstName | titlecase}}
                      {{appointment.patient.user.lastName | titlecase}}</h3>
                    <div class="patient-info">
                      <!-- <h5>
                      <i class="fa fa-clock-o"></i>
                      {{appointment.patient.sessionStartDateTime}} </h5> -->
                      <h5>
                        <i class="fa fa-map-marker"></i>
                        {{appointment.patient.user.address}} </h5>
                      <h5>
                        <i class="fa fa-envelope"></i>
                        {{appointment.patient.user.email}} </h5>
                      <h5>
                        <i class="fa fa-phone"></i>
                        {{appointment.patient.user.phoneNumber}} </h5>
                    </div>
                  </div>
                  <div class="col-lg-7 col-sm-7 col-xs-7">
                    <div class="action-btn">
                      <button class="btn-view btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        View
                      </button>
                      <!-- <button class="btn-accept btn btn-primary">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Accept
                      </button>
                      <button class="btn-reject btn btn-primary">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Reject
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>
              <pagination-controls class="paginate" (pageChange)="p = $event"></pagination-controls>

            </ng-container>

          </div>
        </div>



        <div class="tab-pane fade show " id="pills-patients" role="tabpanel" aria-labelledby="pills-appointments-tab">
          <div class="pill-title">My Patients</div>
          <div class="card-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="patients.length === 0">
            <div>You have no patients registered to you yet.</div>
          </div>
          <div class="row card-container" *ngIf="patients.length > 0">
            <div class="card-12 col-lg-4 col-sm-4 col-xs-4 patient-card"
              *ngFor="let patient of patients | paginate: { itemsPerPage: 10, currentPage: p };">
              <div class="patient-card-container">
                <div class="patient-image-container">
                  <img class="patient-image" src="{{patient.user.imageUrl}}" alt="">
                </div>
                <div class="patient-name">{{patient.user.firstName | titlecase}} {{patient.user.lastName | titlecase}}
                </div>
                <div class="location-flex">
                  <div class="patient-id">Patient Id :</div>
                  <div class="patient-address">{{patientCode}}</div>
                </div>

              </div>
              <div class="bio-container">
                <div class="info-flex">
                  <div class="info-title">Phone</div>
                  <div class="info-detail">{{patient.user.phoneNumber}}</div>
                </div>
                <div class="info-flex">
                  <div class="info-title">Email</div>
                  <div class="info-detail">{{patient.user.email}}</div>
                </div>
                <div class="info-flex">
                  <div class="info-title">Age</div>
                  <div class="info-detail">{{patient.user.age}}, {{patient.user.gender}}</div>
                </div>
                <div class="info-flex">
                  <div class="info-title">Address</div>
                  <div class="info-detail">{{patient.user.address | titlecase}}</div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls class="paginate" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>