@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("../../../../assets/custom/marketnaija-icons/font/flaticon.css");
/* globals start*/

.dashboard-layout {
  background: #e5e5e5;
  font-family: "Poppins";
}
.alternate-img {
  width: 58%;
}
.sn {
  width: 50%;
}
.em {
  width: 50%;
}
section.dashboard-layout div.my-container .grid-2 .tab-content {
  padding-top: 38px;
}
.submit-btn {
  margin-left: 4%;
}
.market-input {
  margin-left: 4%;
}
.hero-container {
  background-color: #ffffff;
  border: 1px solid #eee;
  height: 1086px;
  margin-bottom: 20px;
}
.form-group {
  width: 92%;
  padding-left: 29px;
  margin-top: 30px;
}
.form-control {
  margin-top: 2%;
}
.btn {
  margin-top: 2%;
  border-radius: 0px;
}
.package-btn {
  width: 40%;
}

div.avi-card {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}
div.avi-card img.avi {
  margin-right: 15px;
}
span.account-info {
  display: inline-block;
  flex-direction: column;
}

span.account-info .account-name {
  color: #000000;
  font-size: 15px;
  margin-bottom: 4px;
}
span.account-info .account-type {
  color: #adadad;
  font-size: 15px;
}
div.dashnavs ul.nav {
  padding: 0;
  max-width: unset;
}
div.dashnavs ul.nav li.nav-item {
  text-align: left;
}
div.dashnavs ul.nav li.nav-item a.nav-link {
  text-align: left;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}
/* nav-arrow effect start */
div.dashnavs ul.nav li.nav-item a.nav-link::after {
  content: "\f10d";
  font-family: Flaticon;
  font-style: normal;
  font-size: 10px;
}
.my-container {
  max-width: 1619px !important;
}

/* nav-arrow effect end */
div.dashnavs ul.nav li.nav-item a.nav-link.active {
  background-color: #747171;
  color: #ffffff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
section.dashboard-layout div.my-container div.grid-2 {
  background-color: unset;
  font-family: "Poppins";
}
section.dashboard-layout div.my-container div.grid-2 .tab-content {
  background-color: unset;
}
div.tab-description {
  margin-bottom: 20px;
  padding-left: 20px;
}
div#inc {
  background-color: #ffffff;
}

/* dashboard-cards styles start */
.dash-feed2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Nunito";
  margin-bottom: 50px;
}
.dash-card2 {
  border: 1px solid rgba(181, 195, 194, 0.43);
  padding: 50px 20px 24px 20px;
}
.dash-card2:not(:last-of-type) {
  border-right: 0.5px solid rgba(181, 195, 194, 0.43);
}
div.dash-card2 div.dash-figures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.dash-figures .fig-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.dash-figures .fig-3 {
  margin-bottom: 20px;
}
.fig-4 .card-title2 {
  font-weight: bold;
  font-size: 20px;
  color: #747171;
  margin-bottom: 20px;
}
.fig-4 .f3 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #005983;
}
.avi {
  max-width: 40px;
  height: auto;
  max-height: 40px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: normal;
}
.tab-title,
.profile-title {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: #0069e6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}
.tab-title2 {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: #0069e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-button,
.vp-button {
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  background: #0069e6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}
.grid-1 {
  background-color: #ffffff;
}

/*
@media (max-width:360px){
    .my-container {
        display: inline-block;
        grid-template-columns: 0% !important;
    }
} */
/* globals end*/
/* nav styles start */
div.m-group2 {
  align-items: center;
}
.dash-button {
  color: #ffffff;
  margin-left: 15px;
  font-size: 14px;
}
div.dropdown button.dropdown-toggle::after {
  content: "";
}
button.dropdown-toggle[aria-expanded="true"].dropdown-toggle::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

div.dropdown:first-of-type {
  margin-right: 0;
}

/* nav styles end */
/* marchant-dashbard-start */

.dashboard {
  padding: 100px 0 100px 0;
}
.dashboard div.my-container {
  display: grid;
  grid-template-columns: 22% 56% 22%;
  grid-column-gap: 12px;
  justify-content: center;
}
/* grid-1 start */

.company-card {
  text-align: center;
  /* max-width: 270px; */
}
.company-logo {
  object-fit: cover;
  object-position: center;
  height: 170px;
  width: 100%;
}
.company-details {
  padding: 20px 0 0px 0;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 40px;
}
.company-name {
  font-size: 32px;
  color: #000000;
  font-weight: normal;
}
.shop-type {
  padding: 0 0 20px 0;
  color: #444040;
  font-size: 14px;
  font-weight: 500;
}
.barrier {
  height: 40px;
  width: 100%;
  background-color: #e5e5e5;
  border: 1ps solid #e5e5e5;
}

/* tabs style start  */
.nav {
  display: grid;
  max-width: 270px;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 20px 16px;
  background-color: #ffffff;
}
.grid-1 ul li.nav-item {
  width: 100%;
  margin-right: 0;
}
ul li.nav-item {
  border-bottom: 1px solid rgba(196, 196, 196, 0.46);
}
ul li.nav-item a.nav-link.active {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: rgba(196, 196, 196, 0.32);
  color: #444040;
  width: 100%;
}
ul li.nav-item a.nav-link {
  color: #444040;
}
div.tab-content {
  background-color: #ffffff;
}

/* tabs style end  */
/* grid-1 end */

/* grid-2 start */
.grid-2 {
  font-family: "Nunito";
  background-color: #ffffff;
}
.dashboard-container {
  padding: 24px 20px 85px 20px;
}
.dash-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgba(181, 195, 194, 0.43);
  margin-bottom: 110px;
}
.dash-card {
  display: flex;
  flex-direction: column;
  /* min-width: 220px; */
  text-align: center;
}
.dash-case {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 24px 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(181, 195, 194, 0.43);
}
.dc1,
.dc2 {
  border-right: 1px solid rgba(181, 195, 194, 0.43);
}
.dash-card a {
  color: #000000;
  font-size: 15px;
}
.dash-card a:hover,
.dash-card a:active {
  color: #000000;
}
.card-title {
  color: #747171;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}
.dash-figures {
  display: flex;
}

.fig-1,
.fig-2 {
  display: flex;
  flex-direction: column;
}
.fig-1 {
  margin-right: auto;
}
.f1 {
  margin-bottom: 15px;
  color: #000000;
  font-size: 12px;
}
.f2 {
  color: #fbbb00;
  font-size: 24px;
}
.f1,
.f2 {
  white-space: nowrap;
}
.clickable {
  cursor: pointer;
}

.c-sales {
  font-size: 28px;
  color: #747171;
  font-weight: bold;
  margin-bottom: 25px;
}
.sales {
}
.table-head,
.table-data {
  border-bottom: 0.5px solid #adadad;
}
.table-head {
  padding-bottom: 20px;
}
.table-data {
  padding: 12px 0;
}
.table-case {
  max-width: 430px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-column-gap: 10px;
}
span.tb {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
.td1 a {
  font-size: 14px;
  color: #0069e6;
}
.td1,
.td2 {
}
.td1,
.td2,
.td3 {
  display: inline-block;
  text-align: left;
}
.td2,
.td3 {
  color: #444040;
  font-size: 14px;
}

@media (max-width: 800px) {
  .dash-feed {
    display: flex;
    border: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dash-case {
    min-width: 300px;
    margin-top: 20px;
    border: 1px solid rgba(181, 195, 194, 0.43);
  }
}

.profile-stats-container {
  max-width: 270px;
  background-color: #ffffff;
}
.profile-card {
  padding: 20px;
  background-color: #ffffff;
}
.profile-stats {
  padding: 20px 0 15px 0;
}

.profile-stats:not(:last-child) {
  border-bottom: 1px solid rgba(196, 196, 196, 0.46);
}
.profile-stats span {
  display: inline-block;
}
.stats-titles {
  display: flex;
  align-items: center;
}
.profile-info {
  font-weight: 600;
  font-size: 14px;
  color: rgba(9, 9, 9, 0.86);
  margin-right: auto;
}
.profile-update {
  font-size: 12px;
  color: rgba(9, 9, 9, 0.86);
  border-radius: 1px;
  font-weight: normal;
}

@media (max-width: 992px) {
  .dashboard div.my-container {
    display: inline-block;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
  }
  .dashboard .my-container .grid-1,
  .dashboard .my-container .grid-2,
  .dashboard .my-container .grid-3 {
    background-color: unset;
  }
  .barrier {
    display: none;
  }
  .dashboard div.my-container .grid-1 {
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
    align-self: flex-start;
    grid-gap: 20px;
  }
  .company-details {
    margin-bottom: 0;
  }

  .nav {
    max-width: unset;
    margin-bottom: 0 !important;
  }
  .profile-stats-container {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .dashboard div.my-container .grid-1 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 360px) {
  .dashboard-container {
    padding: 24px 2% 85px 2%;
  }
  section.dashboard-layout .my-container {
    display: inline-block !important;
    grid-template-columns: 0%;
    grid-column-gap: 30px;
  }
}

/* grid-3 end */

/* marchant-dashbard-end*/

/* dashboard-layout start */

@media (max-width: 768px) {
  .dash-feed2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  div.dash-card2 {
    max-width: 300px;
    margin-bottom: 20px;
    width: 100%;
  }
  .dash-card2:not(:last-of-type) {
    border-right: 1px solid rgba(181, 195, 194, 0.43);
  }
}

/* dashboard-cards styles end */
/* complete-sales section style start */
.completed-sales .tab-title2 {
  margin-bottom: 50px;
}
.more {
  background-color: unset;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.more img {
  width: 100%;
  height: 100%;
}
.complete-sales-table {
  padding: 0 15px;
}
.complete-sales-table .table-head,
.complete-sales-table .table-data {
  padding: 15px 20px;
}
.complete-sales-table .table-head .table-case,
.complete-sales-table .table-data .table-case {
  display: grid;
  grid-template-columns: [image] 54px [name] 90px [advertiser] 91px [start-date] 93px [stop-date ] 93px [web-link] 134px [state] 123px [end-block];
  align-items: center;
  grid-column-gap: 7%;
  max-width: unset;
  text-align: left;
}
img.mini-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.complete-sales-table .table-head .table-case span {
  color: #000000;
  font-size: 15px;
}
.complete-sales-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}
@media (max-width: 1120px) {
  .complete-sales-table {
    overflow-x: auto;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .complete-sales-table::-webkit-scrollbar {
    display: none;
  }
  .complete-sales-table .table-data,
  .complete-sales-table .table-head {
    border-bottom: none;
  }
}

/* complete-sales section style end */
/* dashboard-layout end */

/* product-details table start */
.product-details .tab-title2 {
  margin-bottom: 20px;
}
.product-details-table .table-head {
  background-color: #e3e8ea;
  color: #444040;
}
.product-details-table .table-head,
.product-details-table .table-data {
  padding: 15px 20px;
}
.product-details-table .table-head .table-case,
.product-details-table .table-data .table-case {
  display: grid;
  grid-template-columns: [listing] 54px [name] 180px [phone] 180px [status] 120px [pd-end ] 180px [package] 60px;
  align-items: center;
  grid-column-gap: 40px;
  max-width: unset;
  text-align: left;
}

.product-details-table .table-head .table-case span {
  color: #444040;
  font-size: 14px;
}
.product-details-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}
.table-case .td8 {
  justify-self: center;
}
.table-case .td9 .cname {
  font-size: 15px;
  color: #000000;
}
.table-case .td9 .clocation {
  color: #444040;
  font-size: 14px;
}
.table-head .td11 .td12 {
  justify-self: center;
}
.table-case .td11 .td12 .status {
  padding: 5px 30px;
  text-align: center;
  width: 111px;
  color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 1120px) {
  .product-details-table {
    overflow-x: auto;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .product-details-table::-webkit-scrollbar {
    display: none;
  }
  .product-details-table .table-head {
    background-color: unset;
  }
  .product-details-table .table-data,
  .product-details-table .table-head {
    border-bottom: none;
  }
}

/* product-details table end */

/* mechant start */
.merchants .tab-title2 {
  margin-bottom: 20px;
}
.merchants-table .table-head {
  background-color: #e3e8ea;
  color: #444040;
}
.merchants-table .table-head,
.merchants-table .table-data {
  padding: 15px 20px;
}
.merchants-table .table-head .table-case,
.merchants-table .table-data .table-case {
  display: grid;
  grid-template-columns: [select] 54px [user] 54px [name] 180px [phone] 100px [username] 120px [reviews] 60px [mch-end];
  align-items: center;
  grid-column-gap: 40px;
  max-width: unset;
  text-align: left;
}

.merchants-table .table-head .table-case span {
  color: #444040;
  font-size: 14px;
}
.merchants-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}

.table-case .td9 .cname {
  font-size: 15px;
  color: #000000;
}
.table-case .td9 .clocation {
  color: #444040;
  font-size: 14px;
}
.table-head .td13,
.table-case .td13 {
  justify-self: center;
}
.table-case .td12,
.table-head .td16,
.table-case .td16,
.table-head .td17,
.table-case .td17 {
  justify-self: center;
}
.table-case .td12 form input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.table-case .td17 .greens {
  padding: 5px 10px;
  text-align: center;
  width: 45px;
  color: #ffffff;
  background-color: #28b446;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 1120px) {
  .merchants-table {
    overflow-x: auto;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .merchants-table::-webkit-scrollbar {
    display: none;
  }
  .merchants-table .table-head {
    background-color: unset;
  }
  .merchants-table .table-data,
  .merchants-table .table-head {
    border-bottom: none;
  }
  .my-container {
    display: grid;
  }
}

/* dashlayout grid-queries start */
@media (max-width: 1180px) {
  body section.dashboard-layout div.my-container {
    display: block;
  }
  div.dashnavs ul.nav li.nav-item a.nav-link::after {
    content: "\f10c";
    font-family: Flaticon;
    font-style: normal;
    font-size: 10px;
  }
}
@media (max-width: 1920px) {
  section.dashboard-layout div.my-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 12px;
  }
  .table-case {
    grid-template-columns:
      [image] 31px [name] 65px [advertiser]
      71px [start-date] 72px [stop-date ] 69px [web-link] 123px [state] 123px [end-block] !important;
  }
  .grey {
    grid-template-columns:
      [image] 31px [name] 125px [advertiser] 100px
      [start-date] 99px [stop-date ] 69px [web-link] 194px [state] !important;
  }
  .grey-merchant {
    grid-template-columns:
      [image] 31px [name] 157px [advertiser] 145px
      [start-date] 100px [stop-date ] 134px [web-link] 194px [state] !important;
  }
  .store-datas {
    grid-template-columns:
      [image] 31px [name] 168px
      [advertiser] 123px [start-date] 149px [stop-date ] 69px [web-link] 194px [state] !important;
  }
  .table-datas {
    grid-template-columns:
      [image] 31px [name] 112px [advertiser] 106px
      [start-date] 112px [stop-date ] 69px [web-link] 194px [state] !important;
    text-align: center !important;
  }
}
/* section.dashboard-layout div.my-container {

} */

/* dashlayout grid-queries end */

/* mechant end */
