@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.about-container {
    background-color: #E5E5E5;
    height: 100%;
}

fieldset, label {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */

.rating:not(:checked)>label:hover,
/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */

.rating>input:checked~label:hover, .rating>label:hover~input:checked~label,
/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

/* landing start, How to page */

.landing, .landing2 {
    padding-bottom: 40px;
    height: 250px;
    background: url(../../../assets/custom/images/img6.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.landing .container h2, .landing2 .container h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 36px;
}

.lb {
    padding: 8px 30px !important;
    border-radius: 5px;
    font-size: 14px;
}

/* landing end */

/* texxt-content start */

.text-content, .card-content {
    margin: 80px 0;
}

.drk-blue {
    background-color: #0290ff;
    cursor: pointer !important;
}

.white {
    color: #ffffff;
}

.heading {
    font-size: 24px;
    color: #21293C;
    font-weight: 600;
    margin-bottom: 30px;
}

.sub-heading {
    margin-bottom: 46px;
    font-size: 18px;
    color: #0069E6;
}

.paragraph {
    color: #7B858A;
    font-size: 16px;
    text-align: justify;
}

.connect {
    padding-bottom: 87px !important;
}

.icon-box a {
    color: #0069E6;
}

.icon-box a .flaticon-twitter-logo-silhouette:before, .icon-box a .flaticon-instagram-logo:before, .icon-box a .flaticon-linkedin-logo:before, .icon-box a .flaticon-facebook-letter-logo::before {
    font-size: 40px !important;
}

.icon-box a .flaticon-instagram-logo:before, .icon-box a .flaticon-linkedin-logo:before, .icon-box a .flaticon-facebook-letter-logo::before {
    margin-left: 45px !important;
}

.icon-box a:hover, .icon-box a:active {
    color: #21293C;
}

.partner {
    height: 330px;
}

@media (max-width: 768px) {
    .paragraph {
        text-align: left;
    }
    .breaking {
        display: none;
    }
}

/* text-content end */

/* how to page styles start */

.landing2 {
    background: url(../../../assets/custom/images/img7.png) center center no-repeat !important;
}

.card-system {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    grid-column-gap: 70px;
    grid-row-gap: 80px;
    justify-content: center;
}

.h-card {
    display: flex;
    flex-direction: column;
    padding: 36px 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    justify-content: center;
}

.h-card img {
    margin: 0 auto 30px auto;
    widows: 64px;
    height: 64px;
}

.h-card h4 {
    color: #21293C;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
}

.h-card p {
    margin-top: 0;
    font-size: 14px;
    color: #7B858A;
}

@media (max-width:375px) {
    .landing2 .container h2 {
        font-size: 36px;
    }
}

/* how to page styles end */