<!-- page-content start -->
<!-- shop-start -->
<div class="page-container">
  <ng-container *ngIf="!openVideo">
    <div *ngIf="!isEmpty && businessType === 'Merchant'">
      <section class="shop">
        <div class="container">
          <!-- gallery start  -->
          <div class="gallery">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" (deferLoad)="storeImage != null">
                  <img src="{{storeImage}}" class="d-block w-100 shop-pic" alt="..." *ngIf="storeImage">
                  <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt=""
                    *ngIf="!storeImage">
                </div>
              </div>
            </div>

          </div>
          <!-- galery end -->
          <!-- shop -details start -->
          <div class="shop-details">
            <div class="director ">
              <h2 class="shop-name review-heading ">{{storeName}}</h2>
              <a (click)=gotoPrevious() class="clickable">
                <i class="flaticon-arrow-point-to-right "></i>Back to Shops
              </a>
            </div>
            <div class="rating1">
              <fieldset class="rating">
                <app-rating [rating]='5' [itemId]='0'></app-rating>
              </fieldset>
            </div>
            <p class="shop-description grey">{{storeDescription}}</p>
            <div class="shop-contact">
              <p *ngIf="storeOwner" class="grey">Merchant: {{storeOwner.username}}</p>
              <a href="tel:+234 566 34567" class="grey">Phone: +234{{storePhone}}</a>
              <a href="email:awonikoko@gmail.com" class="grey">Email: {{storeEmail}}</a>
              <address class="grey">Address: {{storeAddress}}</address>

            </div>
            <section class="share-post">
              <div class="container">
                <span class="get-map">Share this post</span>
                <a href="" class="share-link">
                  <img src="../../../assets/custom/images/twitter.png" alt="" class="share-pic ">
                </a>
                <a href="" class="share-link">
                  <img src="../../../assets/custom/images/facebook.png" alt="" class="share-pic ">
                </a>
                <a href="" class="share-link">
                  <img src="../../../assets/custom/images/google-plus.png" alt="" class="share-pic ">
                </a>
              </div>
            </section>
            <div class="store-rater">
              <h4 class="blue3">Rate Store</h4>
              <app-rating *ngFor="let item of items" [rating]='item.rating' [itemId]='item.id'
                (ratingClick)='ratingComponentClick($event)'></app-rating>
            </div>
            <form class="review-entry" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
              <label for="name " class="blue3">Write Review</label>
              <div class="form-item form-group">
                <input type="text" name="" formControlName="comment" id="" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" required>
                <button class="buttn blue post-rev btn-primary pointer">POST REVIEW
                </button>
              </div>

            </form>
            <div>
              <button class="buttn blue post-rev btn-primary pointer" style="
                margin-top: 17px; margin-left: 8px;" (click)="getStoreCustomers()">Become Our Customer</button>
            </div>
          </div>
          <!-- shop-details end -->

        </div>

      </section>
      <!-- shop-end -->
      <section class="product-listing">
        <div class=container>
          <h4 class="review-heading__product">Products Listing</h4>
          <span class=" clickable td4" *ngIf="!products" id="overlay"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
          <div class="product-card-system my-container">
            <div class="product-card" *ngFor="let product of products | filter : searchText; let i = index;">

              <div class="product-titles" (deferLoad)="imagePath.file != null">
                <img alt="" class="product-img" src="data:image/jpeg;base64,{{product.file.file}}">
                <!-- <app-rating  *ngFor="let item of items" [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'></app-rating> -->
                <span class="name">{{product.productName}} </span>
                <span class=" slasher product-price"><span class="naira-sign"></span><span class="sales-price">₦
                    {{discounts[i]  | number:'':'en'}}</span></span>
                <div *ngIf="isDiscount[i] === true" class="discount-slash"></div>
                <div class="discount-unslash" *ngIf="isDiscount[i] === false"></div>
                <span class="sales-price "><span class="naira-sign"></span><span class="price"
                    *ngIf="isDiscount[i] === true">₦ {{product.price  | number:'':'en'}}</span></span>

              </div>
              <div class="buy-product">
                <button class="buy-button" (click)="openProductDetail(product.productId)">View Details</button>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- customer-review start  -->
      <section class="customer-review" *ngIf="!openVideo">
        <div class="container">
          <h4 class="review-heading">Reviews from customers</h4>
          <span class="post-date" *ngIf="helperArray.length === 0">
            There are no reviews yet.
          </span>

          <div class="reviews-group" *ngFor="let review of helperArray; let i = index;">
            <div class="name-date" *ngFor="let item of review; let x = index;">
              <span class="username">{{item.username}}</span>
              <span class="post-date">{{item.commentedOn}}</span>
            </div>
            <div class="rating2" *ngFor="let item of review; let x = index;">
              <div class="rated">
                <fieldset class="rating" [disabled]=true>
                  <app-rating [rating]='item.rating' [itemId]='item.id'></app-rating>
                </fieldset>
              </div>
              <span class="star-review">{{item.comment}}</span>
            </div>
          </div>
        </div>
      </section>

    </div>
  </ng-container>

  <ng-container *ngIf="!openVideo">
    <div *ngIf="doctorDetails && businessType === 'Doctor'">
      <a (click)=gotoPrevious() class="clickable back-arrow">
        <i class="flaticon-arrow-point-to-right "></i>Back
      </a>
      <section class="shop">
        <div class="container">
          <!-- gallery start  -->
          <div class="gallery">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img *ngIf="doctorDetails.user.imageUrl" src="{{doctorDetails.user.imageUrl}}"
                    class="d-block w-100 shop-pic" alt="...">
                  <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt=""
                    *ngIf="!doctorDetails.user.imageUrl">
                </div>
              </div>
            </div>

          </div>
          <!-- galery end -->
          <!-- shop -details start -->
          <div class="shop-details">
            <div class="director ">
              <h2 class="shop-name review-heading ">Dr. {{doctorDetails.user.firstName | titlecase}}
                {{doctorDetails.user.lastName | titlecase}}</h2>
            </div>
            <div class="shop-contact">
              <a class="grey">Specialization:
                {{doctorDetails.specialization.specializationName}}</a>
              <a class="grey">Address: {{doctorDetails.user.address}}</a>
              <a class="grey">Status: {{doctorDetails.status === 'Active' ? 'Verified' : 'Unverified'}}</a>
              <a class="grey">Work Days: {{workDays}} </a>
              <a class="grey">Working Hours: {{doctorDetails.startTime }} -
                {{doctorDetails.endTime }}</a>
              <a class="grey">Consultation Fee: &#8358;{{consultationFee}} </a>

            </div>
            <div class="rating1">
              <fieldset class="rating">
                <app-rating [rating]='5' [itemId]='0'></app-rating>
              </fieldset>
            </div>

            <section class="share-post">
              <div class="container">
                <ng-container *ngIf="showCallDialogue && isPaymentDone">
                  <div class="doctor-stat">
                    {{availMessage}}
                  </div>
                  <button class="buttn blue post-rev btn-primary pointer" style="
                margin-top: 17px; margin-left: 8px; width: 40%;"
                    *ngIf="doctorDetails.isAvailable && showCallDialogue && isPaymentDone" (click)="callDoctor()">Call
                  </button>
                </ng-container>
                <form class="review-entry" *ngIf=" !showCallDialogue" [formGroup]="ailmentForm">
                  <label for="name " class="blue3">To book an appointment, please describe your ailment</label>
                  <div class="form-item form-group">
                    <textarea formControlName="patientAilment" rows="2" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" required>

                    </textarea>
                  </div>

                  <!-- <input type="text" name="" formControlName="comment" id="" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" required> -->
                  <button class="buttn blue post-rev btn-primary pointer" data-toggle="modal"
                    data-target="#paymentModal" (click)="getPatient()"> Submit
                  </button>

                </form>

                <button class="buttn blue post-rev btn-primary pointer" style="
                margin-top: 17px; margin-left: 8px; width: 40%;" data-toggle="modal" data-target="#paymentModal"
                  *ngIf="showPayButton" (click)="togglePayment()">Make Payment
                </button>
              </div>
            </section>

          </div>
        </div>
      </section>

      <!-- customer-review start  -->
      <section class="customer-review">
        <div class="container">
          <h4 class="review-heading">Reviews from patients</h4>
          <span class="post-date" *ngIf="helperArray.length === 0">
            No reviews yet.
          </span>

          <div class="reviews-group" *ngFor="let review of helperArray; let i = index;">
            <div class="name-date" *ngFor="let item of review; let x = index;">
              <span class="username">{{item.username}}</span>
              <span class="post-date">{{item.commentedOn}}</span>
            </div>
            <div class="rating2" *ngFor="let item of review; let x = index;">
              <div class="rated">
                <fieldset class="rating" [disabled]=true>
                  <app-rating [rating]='item.rating' [itemId]='item.id'></app-rating>
                </fieldset>
              </div>
              <span class="star-review">{{item.comment}}</span>
            </div>
          </div>
        </div>
      </section>

    </div>
  </ng-container>

  <!-- <app-video-chat *ngIf="openVideo" [groupName]="groupName"></app-video-chat> -->

</div>

<!-- modal section -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true"
  *ngIf="showModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please make payment for this appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          {{modalMessage}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="routeToPayment()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="togglePayment()">No</button>

      </div>
    </div>
  </div>
</div>