<div class="policy-container">
  <section class="text-area">
    <div class="container">
        <main class="main-text">
            <h2 class="heading">
                Privacy Policy
            </h2>
            <p class="paragraph">This Privacy Policy describes collection, use, disclosure, retention, and protection of your personal information. It applies to marketnaija.ng website where this Privacy Policy appears in the footer, and to any application, service, or tool (collectively “Resources” or “Services”) where this Privacy Policy is referenced, regardless of how you access or use them, including through mobile devices.</p>
            <p class="paragraph">By using Resources with or without registered account, you are accepting the terms of this Privacy Policy and terms and conditions, and you are consenting to the collection, use, disclosure, retention, and protection of your personal information as described in this Privacy Policy by Administrator. “Administrator”, “we” or “us” - Local Content Administrator or other entity that exercise control over the Local Content Administrator, which renders the Services to the Users and that controls User`s personal data. “Local Content Administrator” — Marketnaija.ng, an initiative of Prifred links. “User”, “you”, “your” –means any natural person eligible to conclude an agreement under the applicable law with Administrator and using any of Services with or without a registered account.</p>
            <h5 class="sub-heading">
                COLLECTION
            </h5>
            <p class="paragraph">Personal information you give us when you use Services or register an account Personal information User disclose when register an account, including name, email addresses or telephone number. Users’ communication data; messages, letters, statements, sent to the User by other users. Other content that Users generates, or that is connected to User account.</p>
            <p class="paragraph">Personal information we collect automatically when you use Services or register an account Usage and log information. Service-related, diagnostic, and performance information. This includes information about your activity (such as how you use our product, how you interact with others using our product, and the like), log files, diagnostic, and performance logs and reports. Device and connection information. We collect device-specific information when you install, access, or use Services. This includes information such as hardware model, operating system information, browser information, IP address, sensors of the device, mobile network information including phone number, and device identifiers.</p>
            <p class="paragraph">We collect device location information if you use our location features, such as when you post an announcement and for diagnostics and troubleshooting purposes such as if you are having trouble with our application’s location features. We may collect information about your email and another account if registered from the device on an exceptional basis as a result of performing of suspicious actions from the device and there is reasonable doubt to assume that you can be an emulator</p>
            <p class="paragraph">Personal information we collect using cookies We can use cookies-files (hereinafter — “cookies”) for storing of certain information about you and tracking your use of the Services. Use of cookies is common for Internet sites for the purpose of facilitation of their users’ identification.</p>
            <p class="paragraph">Cookie is a small volume of data which is sent to your internet browser and stored on your PC’s rigid disk. If you do not block or delete cookies, then in each case you use the Service via the same PC our web servers would be notified about you using the Services, and we would receive data on your visit. Generally, we use cookies for User identification and so that we could have a possibility to:</p>
            <p class="paragraph">provide access to your account without re-entering data by you <br>collect statistics about usage of Services;<br>investigate the patterns of visits and to facilitate guiding of promoting materials based on Users’ interests;Monitor progress and participation in promotional events.<br>You are entitled to specify in which manner and at what time cookies will be accepted by way of setting your internet browser installed on PC, which you use for using the Services. You can change such settings at any time, as you wish. After your preferences will have been installed in the internet browser, you will be able to accept all cookies, or you can choose to notify you about cookies being directed to your browser, or you can discard all cookies. When you discard all cookies by having selected an option of blocking cookies in your browser, it can be possible that you will more often need to re-enter your information for getting access to your account, and some additional functionality on the Resources will not be available to you.</p>
            <h5 class="sub-heading">
                Personal information from other sources
            </h5>
            <p class="paragraph">We may allow you to share information with social media sites, or use social media sites to create your account or to connect your account with the respective social media site. Those social media sites may give us automatically access to certain personal information retained by them about you (e.g., content viewed by you, content liked by you, and information about the advertisements you have been shown or may have clicked on, etc.).</p>

        </main>
        <aside class="social-contact">
            <h2 class="heading">
                Contact Details
            </h2>
            <div class="contact">
                <a href="tel:+234701 085 5839" class="contact-link">
                    <i class="flaticon-phone-receiver"></i>
                    +234 (0) 701 085 5839
                </a>
                <a href="email:info@marketnaija.com" class="contact-link">
                    <i class="flaticon-envelope"></i>
                    info@marketnaija.com
                </a>
                <a href="#" class="contact-link">
                    <i class="flaticon-maps-and-flags"></i>
                    Beside Ojo Local Government,<br> Franklas Junction, <br>Olojo Drive, Lagos
                </a>
            </div>
            <div class="icon-box">
                    <a href="#" ><i class="flaticon-twitter-logo-silhouette"></i></a>
                    <a href="#" ><i class="flaticon-facebook-letter-logo"></i></a>
                    <a href="#" ><i class="flaticon-instagram-logo"></i></a>
                    <a href="#" ><i class="flaticon-linkedin-logo"></i></a>
            </div>
         </aside>
    </div>
</section>
<!-- text-area end -->
</div>
