<!-- page-content start -->
<!-- landing-start -->

<section class="landing">
  <div class="container">
    <h2>PHARMACIES</h2>
    <button class="lb buttn drk-blue" (click)="openFormModal()">Register</button>
  </div>
</section>

<section class="into">
  <div class="container">
    <div class="director ">
      <a [routerLink]="['/estore']" class="clickable">
        <i class="flaticon-arrow-point-to-right "></i>Back
      </a>
    </div>
    <!-- <p>{{description}}</p> -->
    <!-- <a href="" class="get-map">Get Map Directions</a> -->
  </div>
</section>
<!-- landing-end -->
<!-- text  start -->
<!-- market-content start -->
<section class="markets-content">
  <div class="container">
    <!-- searchbar-start -->
    <div class="search-bar">
      <form action="" class="search-form">
        <div class="form-grouping">
          <input type="search" name="" id="" class="searcher" [(ngModel)]="searchText" name="searchText"
            placeholder="Search for pharmacy by name.">
          <i class="flaticon-search"></i>
        </div>
        <!-- <div class="dropdown-holder">
                    <div class="dropdown">
                        <div class="market">
                            <label  class="market-label">Type</label>
                            <select class="browser-default custom-select">

                                <option selected>Funiture</option>
                                <option value="1">Shoes and Bags</option>
                                <option value="2">Kitchen Utensils</option>
                                <option value="3">Electronics</option>
                              </select>
                        </div>
                        </div>
                      </div> -->
      </form>
    </div>
    <!-- searchbar-end -->
    <!-- <span class="far clickable td4" *ngIf="loadSpinner"><i class="fa fa-spinner fa-spin fa-fw"></i></span> -->
    <p *ngIf="emptyMarket" class="alert alert-danger">There are no pharmacies, please try again at some other time.</p>
  </div>

  <!-- card sytem start -->
  <!-- <div class="card-system">

    <div class="market-card clickable" *ngFor='let store of allEStores | filter : searchText; let i = index;'>
      <img src="data:image/jpeg;base64,{{store.storeImage.file}}" alt="../assets/custom/images/default-store.png"
        class="mpic" *ngIf="store.storeImage">
      <img src="../../../assets/custom/images/default-store.png" alt="" class="mpic" *ngIf="!store.storeImage">
      <div class="martket-titles">
        <span class="market-name">{{store.storeName}}</span>
        <button class="btn btn-primary clickable" (click)="getStoresId(store.storeId)">SHOP</button>
      </div>
    </div>
  </div> -->

  <div class="card-system row">
    <div class="market-card col-sm-4" *ngFor="let store of allEStores | filter : searchText; let i = index"
      (deferLoad)="store.storeImage.file != null">
      <img src="data:image/jpeg;base64,{{store.storeImage.file}}" alt="" class="mpic company-logo"
        *ngIf="store.storeImage">
      <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt=""
        *ngIf="!store.storeImage">
      <div class="martket-titles">
        <span class="market-name">{{store.storeName}}</span>
        <button class="market-cursor" (click)="getStoresId(store.storeId)">BUY MEDICATIONS</button>
      </div>
    </div>
    <span class="far clickable td4" *ngIf="loadSpinner" id="overlay"><i class="fa fa-spinner fa-spin fa-fw"></i></span>

  </div>

  <!-- card sytem end -->

</section>
<!-- market-content end -->


<!-- partner-section-end -->