<div class="modal" id="overlay" tabindex="-1" role="dialog" *ngIf="show && !openVideo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Call from {{callDetails.callerName | titlecase}}</h5>
      </div>
      <div class="modal-body">
        <!-- <img src="{{patient.imageUrl}}" alt=""> -->
        <img src="{{callDetails.callerImgUrl}}" alt="">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-accept" (click)="acceptCall()">Accept</button>
        <button type="button" class="btn btn-primary btn-reject" data-dismiss="modal"
          (click)="rejectCall()">Reject</button>
      </div>
    </div>
  </div>
</div>