/*** modal ***/

.modal {
  display: block !important;
  padding-top: 57px;
}

.modal-dialog {
  max-width: 275px !important;
}

.modal-body img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.btn-accept {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
  border-color: transparent !important;
}

.btn-reject {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
  border-color: transparent !important;
}

/*** end modal ***/