<div class="howto-container">
  <section class="landing2">
    <div class="container">
      <h2>HOW TO SHOP</h2>
      <button class="lb buttn drk-blue">Contact us</button>
    </div>
</section>
<!-- landing-end -->
<!-- text  start -->
<!-- text-content start -->
<section class="card-content">
    <div class="container">
      <h3 class="heading">Tips on getting the most out of your shopping <br class="breaking"> experience</h3>
      <div class="card-system">
          <div class="h-card">
              <img src="../../../assets/custom/images/rating.png" alt="">
              <h4 class="h-card-title">
                  Always View Photos
              </h4>
              <p class="card-description">
                  Do not enter into transaction or patronize any shop without pictures of what they sell.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/search-engine.png" alt="">
              <h4 class="h-card-title">
                  Exploration
              </h4>
              <p class="card-description">
                  endeavor to explore market to find the exact item/product you want, try to check at most 10 shops for the products you desire.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/package.png" alt="">
              <h4 class="h-card-title">
                  Recieve your goods
              </h4>
              <p class="card-description">
                  Do not make any payment until the requested products are delivered to you.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/support.png" alt="">
              <h4 class="h-card-title">
                  Clarify Always.
              </h4>
              <p class="card-description">
                  Always call the merchants to confirm if they have the particular products you want and also ask them to upload the products for clarification before carrying on with the bargain.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/maps-and-flags.png" alt="">
              <h4 class="h-card-title">
                  Location is Key
              </h4>
              <p class="card-description">
                  Use the map , when not sure of the direction to  market.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/rating1.png" alt="">
              <h4 class="h-card-title">
                  Reviews matter
              </h4>
              <p class="card-description">
                  Always give your opinion about shops after every experience so other potential customers can see (shop review, just beneath every shop.).
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/customer-service.png" alt="">
              <h4 class="h-card-title">
                  Here to help you
              </h4>
              <p class="card-description">
                  Contact customer care of marketnaija for any issue.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/share.png" alt="">
              <h4 class="h-card-title">
                  Referrals
              </h4>
              <p class="card-description">
                  Always refer your friend, family members to the site.
              </p>
          </div>
          <div class="h-card">
              <img src="../../../assets/custom/images/text-lines.png" alt="">
              <h4 class="h-card-title">
                  News and Updates
              </h4>
              <p class="card-description">
                  latest insight into the property market; and offers, promotions and updates from us.
              </p>
          </div>
      </div>
    </div>
</section>
<!-- text-content end -->
</div>
