.page-container {
  min-height: 100vh;
}

.card {
  margin: auto;
  min-height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-label>label {
  background-color: #fff;
  color: #959595;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin: 6px auto auto 8px;
  padding: 0 7px;
}

.card-label>input {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
  display: block;
  height: 50px;
  margin-top: -13px;
  padding: 5px 15px 0;
  transition: border-color .3s;
  width: 100%;
}

.card-container {
  margin: auto;
}

.submit-section .submit-btn {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  min-width: 120px;
}

.btn-primary {
  background-color: #09e5ab;
  border: 1px solid #09e5ab;
}