<div class="container page-container">
  <div class="row">
    <div class="col-md-6 col-lg-6 card-container">
      <div class="card">
        <div class="card-body">
          <h4>Payment Information</h4>

          <form [formGroup]="cardDetailsForm">
            <div class="row" *ngIf="!isAvs && !isPin && !isOtp && !isIframe">
              <div class="col-md-12">
                <div class="form-group card-label">
                  <label for="card_name">Card Number</label>
                  <input type="number" class="form-control" id="card_name" formControlName="cardno"
                    placeholder="xxxx xxxx xxxx xxxx">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">Expiry Month</label>
                  <input type="text" class="form-control" formControlName="expirymonth" id="card_name" placeholder="MM">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">Expiry Year</label>
                  <input type="number" class="form-control" formControlName="expiryyear" id="card_name"
                    placeholder="YY">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">CVV</label>
                  <input type="number" class="form-control" formControlName="cvv" id="card_name">
                </div>
              </div>

              <div class="submit-section mt-4 col-md-4">
                <button class="btn btn-primary submit-btn" (click)="initiatePayment()">
                  Pay &#8358;{{fee}}
                </button>
              </div>
            </div>

            <div class="row" *ngIf="isAvs">
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">Address</label>
                  <input type="text" class="form-control" formControlName="billingaddress">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">Zip</label>
                  <input type="text" class="form-control" formControlName="billingzip">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group card-label">
                  <label for="card_name">City</label>
                  <input type="text" class="form-control" formControlName="billingcity">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group card-label">
                  <label for="card_name">State</label>
                  <input type="text" class="form-control" formControlName="billingstate">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group card-label">
                  <label for="card_name">Country</label>
                  <input type="text" class="form-control" formControlName="billingcountry">
                </div>
              </div>
              <div class="submit-section mt-4 col-md-4">
                <button class="btn btn-primary submit-btn" (click)="initiateAvsAuth()">
                  Submit Billing Details
                </button>
              </div>
            </div>

            <div class="row" *ngIf="isPin">
              <div class="col-md-12">
                <div class="form-group card-label">
                  <label for="card_name">Pin</label>
                  <input type="number" class="form-control" formControlName="pin">
                </div>
              </div>
              <div class="submit-section mt-4 col-md-4">
                <button class="btn btn-primary submit-btn" (click)="initiatePinAuth()">
                  Submit Pin
                </button>
              </div>
            </div>

            <div class="row" *ngIf="isOtp">
              <div class="col-md-12">
                <div class="form-group card-label">
                  <label for="card_name">OTP</label>
                  <input type="number" class="form-control" formControlName="OTP">
                </div>
              </div>
              <div class="submit-section mt-4 col-md-4">
                <button class="btn btn-primary submit-btn" (click)="validatePayment()">
                  Submit OTP
                </button>
              </div>
            </div>
            <div class="row" *ngIf="isIframe">
              <iframe [src]="authUrl | safe: 'resourceUrl'" frameborder="0" width="800" height="500"></iframe>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-5 col-lg-4">
      <div class="card">
        Appointment summary

      </div>
    </div> -->


    <!-- <div>
      <button class="btn btn-primary" (click)="initiateStandardPayment()">Make payment</button>
    </div> -->
  </div>
</div>