@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}

.company-logo {
  width: 99%;
}

.far {
  margin-left: 50%;
}

.alert {
  margin-right: 10%;
  margin-left: 10%;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */

.rating:not(:checked)>label:hover,
/* hover current star */

.rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */

.rating>input:checked~label:hover, .rating>label:hover~input:checked~label,
/* lighten current selection */

.rating>input:checked~label:hover~label {
  color: #FFED85;
}

/* market page start */

/* landing start, */

.landing {
  padding-bottom: 40px;
  height: 250px;
  background: url(../../../assets/custom/images/pill4.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.verified-container {
  position: relative;
  bottom: 30px;
  right: 0;
}

.verified-img {
  width: 76px;
  height: 61px;
  object-fit: cover;
}

.landing .container h2 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 36px;
}

.lb {
  padding: 8px 30px !important;
  border-radius: 5px;
  font-size: 14px;
}

/* landing end */

/*card-sysem styes  */

.card-system {
  margin-bottom: 100px;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.market-card, .post-card {
  display: flex;
  flex-direction: column;
}

.mpic {
  width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: stretch;
  flex-grow: 1;
}

.searcher-btn {
  background-color: #0069E6 !important;
  /* width: 9%; */
  height: 43px;
  margin-top: 11px;
  min-width: 165px;
}

button.searcher {
  display: inline-block;
  padding: .375rem .75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  white-space: nowrap;
  background-color: #0069E6;
  color: #ffffff;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

button.searcher:active, button.searcher:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all ease-in-out 20ms;
  -webkit-transition: all ease-in-out 20ms;
  -moz-transition: all ease-in-out 20ms;
  -ms-transition: all ease-in-out 20ms;
  -o-transition: all ease-in-out 20ms;
}

.col-sm-4 {
  max-width: 100%;
}

.market-cursor {
  cursor: pointer;
}

.martket-titles button {
  color: #ffffff;
  background-color: #0069E6;
  font-size: 12px;
  padding: 5px 17px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@media (max-width: 767px) {
  .card-system {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-gap: 30px
  }
}

/* card-system styles */

/* market page end */

/* individual Market styles start */

.into {
  padding-top: 55px;
  margin-bottom: -60px;
}

.director {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;
}

.into .container .director h2 {
  color: #21293C;
  font-size: 48px;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: -15px;
}

.director a {
  color: #21293C !important;
}

.director a:active, .director a:hover {
  color: #0069E6 !important;
}

.director a .flaticon-arrow-point-to-right {
  display: inline-flex;
}

.director a .flaticon-arrow-point-to-right:before {
  font-size: 15px !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 20px;
}

.doc-spec {
  color: #7B858A;
  font-size: 14px;
  margin-bottom: 15px;
}

.into .container p {
  color: #7B858A;
  font-size: 14px;
  margin-bottom: 30px;
}

.into .container a:hover, .into .container a:active {
  color: #21293C;
}

/* divider styling end  */

/* search bar style start */

.search-bar {
  background: #EBF1F1;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 110px;
  margin-bottom: 75px;
}

.search-bar .search-form {
  display: flex;
}

.form-grouping {
  display: flex;
  margin-right: auto;
}

.form-grouping .searcher {
  background-color: inherit;
  min-width: 63em;
}

.flaticon-search::before {
  margin-left: 0 !important;
  font-size: 17px !important;
}

.dropdown-holder {
  display: flex;
}

.dropdown:first-of-type {
  margin-right: 15px;
}

.dropdown-toggle {
  background-color: transparent !important;
  outline: none !important;
}

button.dropdown-toggle::after {
  content: none;
}

.dropdown-title {
  font-weight: 500;
  font-size: 14px;
  color: #7B858A;
  display: inline-block;
  margin-right: 20px;
}

.flaticon-down-arrow {
  display: flex !important;
  justify-self: end;
  align-items: center;
}

.flaticon-down-arrow::before {
  content: "";
  margin-left: 0 !important;
  font-size: 7px !important;
  color: #979797;
  border: 0.5px solid #979797;
  padding: 7px;
  opacity: 0.8;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

.dropdown-toggle[aria-expanded="true"] .flaticon-down-arrow::before {
  opacity: 1;
  border: 0.5px solid #000000;
  color: #000000;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

.market {
  margin-right: 10px;
  width: 73%;
}

/* .market-label{
    position: relative;
    display: inline-block;
  } */

div.dropdown-menu.show {
  left: -58px !important;
}

.dropdown-item {
  font-weight: 500;
  font-size: 15px;
  color: #0069E6;
  mix-blend-mode: normal;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: transparent;
}

.dropdoqn-divider {
  border: 1px solid #979797 !important;
}

/* dropdown in dropdown styles */

.dropper {
  display: block;
  white-space: normal;
}

.sub-drop {
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
}

.dropper:hover .sub-drop {
  max-height: 500px;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

.sub-droplink {
  color: #272727;
  font-weight: 500;
  font-size: 14px;
}

/* .sub-drop . */

/* dropdown in dropdown styles */

@media (max-width:767px) {
  .into .container .director h2 {
    margin-left: 0;
  }
}

/* individual Market styles end */

/* blog-post ayles start */

.card-system2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  margin-bottom: 40px;
  justify-content: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 60px;
}

.p-img {
  margin-bottom: 50px;
}

.post-title {
  font-weight: 500;
  font-size: 25px;
  color: #21293C;
  margin-bottom: 30px
}

.post-brief {
  margin-bottom: 20px;
}

.post-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author {
  color: #7B858A;
  font-weight: 500;
  font-size: 14px;
}

.read-more {
  font-weight: 500;
  font-size: 14px;
  color: #0069E6
}

/* blog-post ayles end */

.product-card-system {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  padding-bottom: 100px;
}

.product-card {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
}

.product-card img {
  max-width: 96%;
  object-position: center;
  object-fit: cover;
  height: 220px;
  margin: auto;
}

.product-titles .sales-price {
  font-weight: 500;
  font-size: 18px;
}

.naira-sign {
  margin-right: 5px;
}

.buy-button {
  width: 100%;
  height: 46px;
  position: relative;
  color: #ffffff;
  background-color: #0069e6;
  cursor: pointer;
}

.discount-slash {
  border-bottom: 1px solid #7b858a;
  width: 26%;
  position: relative;
  top: 16px;
  left: 2px;
}

.discount-unslash {
  margin-bottom: 1px;
}

.price {
  color: #7b858a;
}

.product-titles .price {
  font-size: 14px;
}

.product-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #c8c8c8;
  padding: 12px 0;
  background-color: #ffffff;
}

.product-titles .name {
  color: #21293c;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  max-width: 90%;
}

.page-container {
  min-height: 100vh;
}

.product-titles .sales-price {
  font-weight: 500;
  font-size: 18px;
  margin-right: 0;
}

.naira-sign {
  margin-right: 5px;
}

.product-titles .price {
  font-size: 14px;
  margin-right: 0;
}

.product-titles button {
  color: #ffffff;
  background-color: #0069e6;
  font-size: 12px;
  padding: 3px 25px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.card-img-top {
  height: 17rem;
  object-fit: cover;
  object-position: top;
  padding-top: 20px;
}

.tagger {
  position: absolute;
  background-color: #ff546e;
  color: #ffffff;
  white-space: normal;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 26px;
  margin-left: 7px;
}

/* .tagger-positive {
  background-color: #15ca39;
} */

.doctor-info {
  display: flex;
}

.card-system {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  padding-bottom: 100px;
  width: 71%;
  margin: auto;
}

.market-card, .post-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.mpic {
  /* max-width: 30%; */
  object-position: center;
  object-fit: contain;
  height: 218px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 100%;
}

.searcher-btn {
  background-color: #008080 !important;
  /* width: 9%; */
  height: 43px;
  margin-top: 11px;
  min-width: 165px;
}

button.searcher {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  white-space: nowrap;
  background-color: #0069e6;
  color: #ffffff;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

button.searcher:active, button.searcher:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all ease-in-out 20ms;
  -webkit-transition: all ease-in-out 20ms;
  -moz-transition: all ease-in-out 20ms;
  -ms-transition: all ease-in-out 20ms;
  -o-transition: all ease-in-out 20ms;
}

.col-sm-4 {
  max-width: 100%;
}

.market-cursor {
  cursor: pointer;
}

.martket-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border: 0.5px solid #fafafa;
  background-color: #fafafa;
  border-radius: 3px;
}

.martket-titles .market-name {
  font-weight: 500;
  font-size: 18px;
  color: #21293c;
}

@media (max-width: 767px) {
  .card-system {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-gap: 30px;
  }
}

/* .verified-text {
  background: #008080;
  white-space: normal;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 7px;
  color: #ffffff;
  position: relative;
  bottom: 13px;
}

.unverified-text {
  background: #d32e2e;
  white-space: normal;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 18px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 7px;
  color: #ffffff;
  position: relative;
  bottom: 13px;
} */

.card-text {
  width: 70%;
}

.into {
  padding-top: 55px;
  margin-bottom: -60px;
}

.director {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;
}

.director h2 {
  color: #21293c;
  font-size: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}

.director a {
  color: #21293c !important;
}

.director a:active, .director a:hover {
  color: #0069e6 !important;
}

.director a .flaticon-arrow-point-to-right {
  display: inline-flex;
}

.director a .flaticon-arrow-point-to-right:before {
  font-size: 15px !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 20px;
}

.into .container p {
  color: #7b858a;
  font-size: 14px;
  margin-bottom: 30px;
}

.get-map {
  font-weight: 500;
  font-size: 18px;
  color: #0069e6;
}

.into .container a:hover, .into .container a:active {
  color: #21293c;
}

@media (max-width: 767px) {
  .into .container .director h2 {
    margin-left: 0;
  }
}