<!-- page-content start -->
<!-- landing-start -->
<span class="far clickable td4" *ngIf="!doctors" id="overlay"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
<div class="page-container">


  <section class="landing">
    <div class="container">
      <h2>Doctors</h2>
      <button class="lb buttn drk-blue" (click)="openFormModal()">Register</button>
    </div>
  </section>
  <!-- landing-end -->
  <!-- text  start -->
  <!-- market-content start -->

  <section class="into">
    <div class="container">
      <div class="director ">
        <a [routerLink]="['/home']" class="clickable">
          <i class="flaticon-arrow-point-to-right "></i>Back
        </a>
      </div>
      <!-- <p>{{description}}</p> -->
      <!-- <a href="" class="get-map">Get Map Directions</a> -->
    </div>
  </section>

  <section class="markets-content">
    <div class="container">
      <div class="search-bar">
        <form action="" class="search-form">
          <div class="form-grouping">
            <input type="search" name="" id="" class="searcher" [(ngModel)]="searchText" name="searchText"
              placeholder="Search for doctor by name or specialization.">
            <i class="flaticon-search"></i>
          </div>
          <!-- <div class="dropdown-holder">
                    <div class="dropdown">
                        <div class="market">
                            <label  class="market-label">Type</label>
                            <select class="browser-default custom-select">

                                <option selected>Funiture</option>
                                <option value="1">Shoes and Bags</option>
                                <option value="2">Kitchen Utensils</option>
                                <option value="3">Electronics</option>
                              </select>
                        </div>
                        </div>
                      </div> -->
        </form>
      </div>
      <!-- searchbar-end -->
    </div>
    <p *ngIf="emptyDoctors" class="alert alert-danger">There are no doctors available. Please check back later</p>

    <!-- card sytem start -->


    <div class="card-system row">
      <div class="market-card col-sm-4" *ngFor="let doctor of doctors | filter : searchText; let i = index">
        <span class="tagger">{{doctor.isAvailable ? 'Available': 'Unavailable'}}</span>

        <img src="{{doctor.user.imageUrl}}" alt="" class="card-img-top" *ngIf="doctor.user.imageUrl">
        <img src="./assets/custom/images/default-store.png" class="card-img-top" alt="" *ngIf="!doctor.user.imageUrl">
        <div class="martket-titles">
          <span class="market-name">Dr. {{doctor.user.firstName | titlecase}}
            {{doctor.user.lastName | titlecase}}</span>
          <span class="doc-spec">{{doctor.specialization.specializationName}}</span>
          <button class="market-cursor" (click)="viewDoctor(doctor.doctorId)">VIEW MORE</button>
        </div>
      </div>
      <span class="far clickable td4" *ngIf="loadSpinner" id="overlay"><i
          class="fa fa-spinner fa-spin fa-fw"></i></span>

    </div>




    <!-- card sytem end -->
  </section>

</div>