video {
  width: 100%;
  /*Mirror code starts*/
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  /*Mirror code ends*/
}

.user-vid {
  width: 14%;
  position: fixed;
  z-index: -1;
  padding: 5px;
}

.caller-details {
  color: #ffffff;
  text-align: center;
  padding-top: 3rem;
}

.caller-details div {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.peer-video {
  width: 100% !important;
  height: 101vh !important;
  object-fit: cover;
}
.diagnosis-modal {
  bottom: 0;
  left: 0;
  right: 0;
  height: 391px;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  z-index: 101;
  position: fixed;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  font-family: sans-serif;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 20px;
}
form button {
  border-radius: 0;
  width: 100%;
}
.nav-tabs a {
  color: #008080;
}
.form-group {
  margin-bottom: 2rem;
}

.form-row-container {
  margin-bottom: 2rem;
  border: 1px solid #cccccc;
  padding: 12px;

  border-radius: 6px;
}
.add-btn {
  position: absolute;
  right: 22px;
  top: 13.3em;
}

.add-btn button {
  height: 30px;
  padding: 0px;
  width: 30px;
  border-radius: 100%;
}

.reduce-btn {
  padding: 0;
  border-radius: 100%;
  height: 32px;
}
.input-container {
  margin-bottom: 10px;
}
.fa-times {
  color: #e63c3c;
  margin-top: 9px;
  font-size: 21px;
  cursor: pointer;
}
.dosage-input {
  margin-right: 23px;
  min-width: 100px;
}

.video-background {
  background: #121212;
  height: 101vh;
}
.patient-message {
  font-size: 16px !important;
  padding: 1rem;
}

.caller-img-container {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.caller-img-container img {
  width: 80%;
  object-fit: cover;
  height: 80%;
  border-radius: 100%;
}
.caller-background img {
  position: absolute;
  width: 100%;
  top: 0;
  height: 101vh;
  object-fit: cover;
  z-index: 1;
  opacity: 0.2;
}

.end-call-container {
  padding: 1rem;
  padding-top: 12rem;
}

.peer-vid {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.end-btn-container {
  margin-top: 9%;
}
.btn-disabled {
  background: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}

.end-btn-container button {
  border-radius: 6px !important;
  font-size: 21px;
  height: 50px;
  width: 120px;
}

.doctor-menu {
  padding-top: 20px;
  z-index: 101;
  position: fixed;
  right: 0px;
}

.controls {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  width: 100%;
}
.btn {
  margin-right: 8px;
  font-size: 20px;
  width: 60px;
  border-radius: 68px;
  height: 60px;
  padding: 2px;
}

span {
  padding: 10px;
}

.close-btn {
  background: #d32e2e !important;
  border: #d32e2e !important;
}

.btn-container {
  /* background: #ebedec; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.wait-page {
  position: absolute;
  bottom: 170px;
  right: 33%;
  border: 1px solid #eeeeee;
  width: 37%;
  height: 377px;
  text-align: center;
}

.btn-waiting {
  border-radius: 0px;
  width: 30%;
  height: 44px;
  font-size: 18px;
  padding: 8px;
  position: relative;
}
.patient-form {
  height: 351px;
  overflow: auto;
  margin: auto;
  padding: 30px;
  flex: 0 0 96% !important;
}

.report-title {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-bottom: 0.5px solid #008080;
  font-size: 21px;
  font-weight: 700;
  color: #008080;
}

.flex-row {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  margin-bottom: 10px;
  align-items: flex-end;
  padding-bottom: 3px;
  text-align: left;
}
.flex-row div {
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .user-vid {
    width: 40%;
  }
  .btn {
    width: 50px;
    border-radius: 35px;
    height: 50px;
  }
  .diagnosis-modal {
    width: 100%;
  }
}

/*** modal ***/

.modal {
  display: block !important;
  padding-top: 57px;
}

.modal-dialog {
  max-width: 275px !important;
}

.modal-body img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.btn-accept {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
  border-color: transparent !important;
}

.btn-reject {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
  border-color: transparent !important;
  width: 45%;
  height: 36px;
  border-radius: 0;
  font-size: 14px;
}

/*** end modal ***/
