<div class="container-fluid video-background">
  <div class="row" *ngIf="!endCall && !showEndMessage">
    <div class="doctor-menu" *ngIf="userRole === 'Doctor'">
      <button [disabled]="!currentUser" type="button" (click)="toggleForm()" class=" action-btn btn btn-sm btn-primary">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <div class="diagnosis-modal" *ngIf="showForm && userRole === 'Doctor'">
      <div class="row">
        <div class="report-title"> Patient Diagnosis Form </div>
        <div class="col-lg-12 col-md-12 col-sm-12 patient-form">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-patient" role="tab"
                aria-controls="nav-home" aria-selected="true">Bio Data</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-report" role="tab"
                aria-controls="nav-profile" aria-selected="false">Report</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-patient" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="flex-row">
                <div> Name: </div>
                <div>{{patientDetails.firstName | titlecase}} {{patientDetails.lastName | titlecase}}</div>
              </div>
              <div>

                <div class="flex-row">
                  <div>Age: </div>
                  <div>{{patientDetails.age}}</div>
                </div>

                <div class="flex-row">
                  <div>Gender: </div>
                  <div>{{patientDetails.gender}}</div>
                </div>
              </div>

              <div class="flex-row">
                <div>Ailment: </div>
                <div *ngFor="let session of currentSession">{{session.patientAilment}}</div>
              </div>
            </div>

            <div class="tab-pane fade " id="nav-report" role="tabpanel" aria-labelledby="nav-home-tab">
              <div>
                <form [formGroup]="diagForm">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Diagnosis</label>
                    <textarea class="form-control" aria-label="Diagnosis" formControlName="diagnosis"
                      placeholder="Enter diagnosis here."></textarea>
                  </div>
                </form>


                <form [formGroup]="presForm">
                  <!-- <div class="add-btn">
                    <button class="btn btn-primary" (click)="addPresForm()">+</button>
                  </div> -->
                  <!-- <div class="form-row-container">
                    <div class="form-row">
                      <div class="col" formArrayName="medicineNames">
                        <div class="input-container"
                          *ngFor="let item of medicineNames.controls; let medicineIndex=index"
                          [formGroupName]="medicineIndex">
                          <label for="formGroupExampleInput">Presciption</label>
                          <input type="text" class="form-control" placeholder="Medicine Name">
                        </div>
                      </div>

                      <div class="col" formArrayName="dosages">
                        <div class="input-container" *ngFor="let item of dosages.controls; let dosageIndex=index"
                          [formGroupName]="dosageIndex">
                          <label for="formGroupExampleInput">Dosage</label>
                          <div style="display: flex;">
                            <input type="text" class="form-control dosage-input" placeholder="How many doses per day">
                            <i class="fa fa-times" aria-hidden="true" (click)="removePresForm(i)"></i>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="formGroupExampleInput">Prescription</label>
                    <textarea class="form-control" aria-label="Comment" formControlName="comment"
                      placeholder="Enter comments and prescriptions for patient here."></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="submitDiagnosisForm()">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class=" user-vid">
      <video #userVideo autoplay playsinline style="pointer-events: none;"></video>
    </div>

    <div class=" peer-vid">
      <video #peerVideo autoplay playsinline style="pointer-events: none;" class="peer-video"></video>
    </div>
  </div>

  <div class=" caller-details" *ngIf="isCaller && isWaiting && !endCall">
    <div class="caller-img-container">
      <img src="{{callerDetails.receiverImage}}" alt="">
    </div>
    <div>{{callerDetails.receiverTitle}} {{callerDetails.receiverFirstName | titlecase}}
      {{callerDetails.receiverLastName | titlecase}}</div>
    <div>{{connectMessage}} <div class="dot-elastic"></div>
    </div>
  </div>

  <div class=" caller-details " id="overlay" *ngIf="showEndMessage">
    <div class="end-call-container"> {{endCallMessage}}</div>
    <div class="patient-message">{{patientMessage}}</div>
    <div class="end-btn-container">
      <button class="btn btn-sm btn-primary" (click)="closeVideoScreen()">Ok</button>
    </div>
  </div>

  <div class="row controls" *ngIf="!endCall && !showEndMessage">
    <div class="col-12">
      <div class="row justify-content-center btn-container">
        <button [disabled]="!currentUser" (click)="toggleAudio()" type="button"
          class=" action-btn btn btn-sm btn-primary" [ngClass]="{'btn-disabled': openMic}">
          <span *ngIf="!openMic" class="fa fa-microphone"></span>
          <span *ngIf="openMic" class="fa fa-microphone-slash"></span>
        </button>

        <button [disabled]="!currentUser" (click)="toggleCall()" type="button" class="btn btn-sm btn-primary"
          [ngClass]="{'close-btn' : onCall}"><span class="fa fa-phone"></span>
        </button>
        <button [disabled]="!currentUser" (click)="toggleCamera()" type="button"
          class="action-btn btn btn-sm btn-primary" [ngClass]="{'btn-disabled': openCam}">
          <span class="fa fa-video-camera" *ngIf="!openCam">
          </span>
          <span class="fas  fa-video-slash " *ngIf="openCam">
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="caller-background">
  <img src="{{backgroundImg}}" alt="">
</div>