<div class="modal-container">
  <span class="far clickable td4" *ngIf="loading" id="overlay"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">&times;
    </button>
  </div>
  <form class="business-form">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label for="storeType" class="label-title">Select Your Business Type</label>
          <ng-multiselect-dropdown [placeholder]="''" [data]="businessTypeData" [settings]="businessTypeSettings"
            (onSelect)="getStoreType($event)">
          </ng-multiselect-dropdown>

        </div>

      </div>
    </div>
  </form>

  <form [formGroup]="doctorForm" *ngIf="showDoctorForm">
    <div class="modal-body">
      <div class="container">

        <div class="form-group">
          <label for="storeType" class="label-title">Select Your Specialization</label>
          <ng-multiselect-dropdown [placeholder]="''" [data]="doctorSpecs" [settings]="specializationTypeSettings"
            (onSelect)="getSelectedSpec($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
          <label for="date" class="label-title">Choose Your Working Days</label>
          <ng-multiselect-dropdown [placeholder]="'Working Days'" [data]="workingDays" [settings]="workingDaysSettings"
            (onSelect)="getSelectedDays($event)" (onDeSelect)="getDeselectedDays($event)"
            (onDeSelectAll)="getAllDeselectedDays($event)" (onSelectAll)="getAllSelectedDays($event)">
          </ng-multiselect-dropdown>

        </div>
        <div class="form-group">
          <label for="date" class="label-title">Choose your bank</label>
          <ng-multiselect-dropdown [placeholder]="''" [data]="banks" [settings]="bankSettings"
            (onSelect)="getSelectedBank($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group">
          <label for="date" class="label-title">Your Account Number</label>
          <input type="text" class="form-control" formControlName="accountNumber" />
        </div>

        <div class="form-group">
          <label for="date" class="label-title">Select Your Resumption Time</label>
          <input type="time" class="form-control" formControlName="startTime" />
        </div>

        <div class="form-group">
          <label for="date" class="label-title">Select Your Close Time</label>
          <input type="time" class="form-control" formControlName="endTime" />
        </div>

        <div class="form-group" *ngIf="showDoctorForm">
          <input type="file" class="form-control" (change)="uploadUserImage($event, true)" #PhotoInput hidden>
          <button class="btn btn-primary form-control" (click)="PhotoInput.click()">
            {{loading ? 'Uploading your profile picture' : ' Upload Profile Picture'}}
          </button>
        </div>
        <div class="img-preview" *ngIf="showDoctorForm">
          <img src="{{doctorProfilemage}}" alt="">
        </div>
        <div class="form-group">
          <input type="file" class="form-control" (change)="uploadLicense($event, false)" #PhotoInput hidden>
          <button class="btn btn-primary form-control" (click)="PhotoInput.click()">
            {{loading ? 'Uploading your license' : ' Upload License'}}
          </button>
        </div>
        <div class="img-preview">
          <img src="{{doctorLicense}}" alt="">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="createDoctorAccount()">
        Submit Form
      </button>
    </div>
  </form>

  <form [formGroup]="merchantForm" *ngIf="showMerchantForm">
    <div class="modal-body">
      <div class="container">
        <!-- <div class="form-group">
        <label for="firstName" class="label-title">First Name</label>
        <input type="text"
          class="form-control"
          formControlName="firstName" />
      </div> -->
        <!-- <div class="form-group">
        <label for="lastName" class="label-title">Last Name</label>
        <input type="text"
          class="form-control"
          formControlName="lastName" />
      </div> -->

        <!-- <div class="form-group" *ngIf="showBusinessLocation">
        <label for="location" class="label-title">Business location</label>
        <select class="form-control" id="sel1" formControlName="marketId">
            <option disabled selected value> --Select-- </option>
          <option value="{{market.marketId}}" *ngFor="let market of marketData">{{market.marketName}}</option>
        </select>
      </div> -->
        <div class="form-group">
          <label for="storename" class="label-title">Business Name</label>
          <input type="text" class="form-control" formControlName="storeName" />
        </div>

        <div class="form-group">
          <label for="address" class="label-title">Business Address</label>
          <input type="text" class="form-control" formControlName="address" />
        </div>
        <div class="form-group">
          <label for="email" class="label-title"> Email</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="phonenumber" class="label-title">Phone</label>
          <input type="text" class="form-control" formControlName="phoneNumber" />
        </div>


      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="registerStore()">
        Submit Form
      </button>
    </div>
  </form>
  <div *ngIf="!showMerchantForm && !showDoctorForm" class="modal-footer"></div>
</div>