.label-title {
  padding-top: 10px;
  /* padding-left: 43px; */
}

.modal-container {
  width: 90%;
  margin-left: 20px;
}

.business-form {
  height: 97px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.modal-body {
  padding-bottom: 42px;
}

.img-preview {
  margin: auto;
  width: 78%;
}

.img-preview img {
  width: 100%;
}

.multiselect-dropdown {
  width: 100% !important;
}