<app-call-modal></app-call-modal>
<app-video-chat *ngIf="showVideo" [groupName]="groupName" [callerDetails]="callerDetails" [isCaller]="isCaller">
</app-video-chat>
<app-defaultheader *ngIf="showHead"></app-defaultheader>
<router-outlet *ngIf="!showVideo"></router-outlet>
<app-defaultfooter *ngIf="showHead"></app-defaultfooter>