.main {
  /* width: 158%;
  position: relative;
  right: 30%; */
}

.containers {
  padding-left: 0;
  padding-right: 0;
  /* max-width: 1140px; */
  margin-left: auto;
  margin-right: auto;
}

/* grids styles */

.grids {
  background-color: #008080;
  display: grid;
  grid-template-columns: 35% 65%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .grids {
    grid-template-columns: 1fr;
  }
}

/* grids styles end */

/* imaging styles */

.imaging {
  background-color: rgba(67, 227, 255, 0.904);
  display: grid;
  grid-template-columns: [first] 1fr [second];
  grid-template-rows: [rfirst] 1fr [rsecond];
}

.login-logo {
  grid-column: first/second;
  grid-row: rfirst/rsecond;
}

.center-piece {
  justify-self: center;
  grid-column: first/second;
  grid-row: rfirst/rsecond;
  /* align-self: center; */
  margin-top: 50%;
}

.cp {
  max-width: 100%;
}

/* imaging styles end */

/* authentification styles start */

/* text styles */

.authentification {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 80px;
}

.text, .text h2 {
  margin-bottom: 30px;
}

.text p {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .breaker {
    display: none;
  }
}

@media (max-width: 800px) {
  .authentification {
    padding: 100px 2%;
  }
  .input-items input {
    width: 80%;
    min-width: unset;
  }
  .input-items {
    width: 108%;
    padding-left: 31px;
  }
  .button-items a {
    font-size: 12px;
  }
  .mb-3 {
    padding-left: 31px;
  }
  .button-items {
    padding-left: 31px;
  }
  .sign {
    width: 87%;
    background: #ffffff !important;
  }
  /* .sign {
    width: 50%;
    background: rgba(67, 227, 255, 0.904) !important;
    border: rgba(67, 227, 255, 0.904) !important;
  } */
  .main {
    /* width: 106%;
    position: relative;
    right: 2%; */
  }
  .text, .text h2 {
    margin-left: 15px;
    width: 81%;
  }
  .forgot {
    position: relative;
  }
  .text p {
    font-size: 14px;
    font-weight: 300;
    padding-left: 17px;
  }
}

/* text-styles end */

/* tabs styling */

.nav-item {
  margin-right: 0 !important;
}

.nav-link {
  color: #ffffff !important;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  -moz-border-radius: unset !important;
  -ms-border-radius: unset !important;
  -o-border-radius: unset !important;
  font-size: 16px !important;
  padding: 8px 0;
}

.nav-link:first-of-type {
  padding-right: 20px;
}

.first .mover {
  width: 0;
  margin-top: 8px;
  height: 3px;
  background-color: #ffffff;
  display: block;
}

.first.active .mover {
  width: 100%;
  transition: width 500ms;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
}

.second .mover {
  width: 0;
  margin-top: 8px;
  height: 3px;
  background-color: #ffffff;
  display: block;
}

.second.active .mover {
  width: 100%;
  transition: width 500ms;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
}

.nav-link.active {
  background-color: transparent !important;
  color: #ffffff !important;
}

.first:hover {
  color: #ffffff;
}

/* tabs-styling end */

/* form styling */

form {
  min-height: 295px;
}

.input-items input {
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 15px;
  min-width: 350px;
}

.input-items {
  width: 50%;
}

.button-items {
  margin-top: 30px;
}

.button-items button {
  margin-right: 20px;
}

.button-items a {
  color: #ffffff;
}

.button-items a:hover, .button-items a:active {
  color: #272723;
}

@media (max-width: 400px) {
  .input-items input {
    width: 80%;
    min-width: unset;
  }
  .input-items {
    width: 108%;
    padding-left: 31px;
  }
  .button-items a {
    font-size: 12px;
  }
  .mb-3 {
    padding-left: 31px;
  }
  .button-items {
    padding-left: 31px;
  }
  .sign {
    width: 87%;
  }
  .main {
    /* width: 106%;
    position: relative;
    right: 2%; */
  }
}

/* form styling end */

/* authentification styles end */

/* font styles */

.font-icons {
  margin-top: 20px;
}

.font-icons a:hover, .font-icons a:active {
  color: #272723 !important;
}

/* font-style end */