<div class="main">
    <div class="containers">
        <!-- grid divider start  -->
        <div class="grids">
            <!-- image section -->
            <div class="imaging">
                <!-- <a href="index.html" class="login-logo">
                    <img src="./assets/custom/images/logo.png" alt="">
                </a> -->
                <div class="center-piece">
                    <img src="./assets/custom/images/pharm1.jpg" alt="" class="cp">
                </div>
            </div>
            <!-- image section end -->
            <!-- authentification  area -->
            <div class="authentification">
                <!-- holder start -->
                <div class="auth-holder">
                    <!-- texting start -->
                    <!-- <div class="text">
                        <h2>Experience easy shopping with the <br class="breaker">
                            Marketnaija marketplace</h2>
                        <p>Marketnaija is one of the innovative movements under PRIFRED LINKS<br class="breaker">
                            which is a registered multifunctional company in Nigeria.</p>
                    </div> -->
                    <!-- texing end -->
                    <!-- input section -->
                    <div class="input-area">
                        <!-- bootstrap nav section start -->
                        <div class="tab-links">
                            <div class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <a class="nav-link active first" id="pills-home-tab" data-toggle="pill"
                                    href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login
                                    <span class="mover"></span>
                                </a>
                                <a class="nav-link second" id="pills-profile-tab" data-toggle="pill"
                                    href="#pills-profile" role="tab" aria-controls="pills-profile"
                                    aria-selected="false">Register
                                    <span class="mover"></span>
                                </a>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <!-- login form start -->

                                <!-- <div class="alert alert-info col">
                                <strong>Normal User</strong> - U: user P: user<br />
                                <strong>Administrator</strong> - U: admin P: admin
                            </div> -->
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
                                    <div class="input-items">
                                        <div class="form-group">
                                            <label for="email" class="label-title">Email</label>
                                            <input type="text" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name=""
                                                formControlName="email" class="form-control">
                                            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                      <div *ngIf="f.username.errors.required">Username is required</div>
                                  </div> -->
                                        </div>

                                        <div class=form-group>
                                            <label for="password" class="label-title">Password</label>
                                            <input type="password" name="" placeholder="" formControlName="password"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div> -->
                                        </div>
                                    </div>
                                    <div class="button-items form-group">
                                        <button class="btn  sign" [disabled]="loading">Login
                                            <img *ngIf="loading" class="pl-2"
                                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                        </button>
                                        <a href="" class="forgot">Forgot password?</a>
                                    </div>
                                    <div *ngIf="error" class="alert alert-danger">An error occurred, please check your
                                        username and password or check your internet connection</div>
                                </form>
                                <!-- login form end -->
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <!-- Register form start -->
                                <form [formGroup]="loginForm" (ngSubmit)="onRegister()" action="">
                                    <div class="input-items">

                                        <div class="form-group">
                                            <label for="firstName" class="label-title">Firstname</label>
                                            <input type="text" placeholder="" formControlName="firstName" name=""
                                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName" class="label-title">Lastname</label>
                                            <input type="text" placeholder="" formControlName="lastName" name=""
                                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="label-title">Email</label>
                                            <input type="email" name="" formControlName="email" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="Address" class="label-title">Home Address</label>
                                            <input type="text" name="" formControlName="address" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                                class="form-control">
                                            <!-- <div *ngIf="submitted && x.businessname.errors" class="invalid-feedback">
                                        <div *ngIf="x.businessname.errors.required">First Name is required</div>
                                    </div> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="phoneNumber" class="label-title">Phone Number</label>
                                            <input type="text" name="" formControlName="phoneNumber" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                                                class="form-control">
                                            <!-- <div *ngIf="submitted && x.businessname.errors" class="invalid-feedback">
                                        <div *ngIf="x.businessname.errors.required">First Name is required</div>
                                    </div> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="dob" class="label-title">Date of birth</label>
                                            <input type="date" name="" formControlName="age" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.age.errors }"
                                                class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label for="password" class="label-title">Password</label>
                                            <input type="password" name="" formControlName="password" placeholder=""
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="phoneNumber" class="label-title">Gender</label>
                                            <ng-multiselect-dropdown [placeholder]="" [data]="gender"
                                                class="multiselect-dropdown-1" [settings]="genderSettings"
                                                (onSelect)="getGender($event)">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="button-items">
                                        <button class="stnd-bttn sign">Register
                                            <img *ngIf="loading" class="pl-2"
                                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                        </button>

                                        <a [routerLink]="['login']">Already registered? Log In</a>
                                    </div>
                                    <!-- Register form end -->
                                </form>
                            </div>
                            <!-- icon start -->
                            <div class="font-icons">
                                <a href="https://twitter.com/PharmaaH" class="font-link twitter"><i
                                        class="flaticon-twitter-logo-silhouette"></i></a>
                                <a href="https://web.facebook.com/pharmaahub" class="font-link facebook"><i
                                        class="flaticon-facebook-letter-logo"></i></a>
                                <a href="https://instagram.com/pharmaahub" class="font-link instagram"><i
                                        class="flaticon-instagram-logo"></i></a>
                                <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
                            </div>
                            <!-- end start -->
                        </div>
                        <!-- bootstrap nav section end -->
                    </div>
                    <!-- input section end -->
                </div>
                <!-- holder end -->
            </div>
            <!-- authentification end -->
        </div>
        <!-- grid divider end -->
    </div>
</div>