<header class="header" *ngIf="showHeader">
  <div class="container">
    <div class="top-nav">
      <ul class="top-menu">
        <li class="tn1" *ngIf="!showMenu && loggedIn">
          <a class="nav-linker bl cursor" [routerLink]="['profile']">PROFILE</a>
        </li>

        <li class="tn1" *ngIf="showMenu">
          <a class="nav-linker bl cursor " style="color: #ffffff;" (click)="openMerchantDashboard()">DASHBOARD</a>
        </li>
        <!-- <li class="tn1 ">
              <a class="nav-linker bl" [routerLink]="['disclaimer']">FAQ</a>
            </li> -->
        <li class="tn1 ">
          <a class="nav-linker bl" [routerLink]="['contact']">CONTACT US</a>
        </li>
        <li class="tn1" *ngIf="!loggedIn">
          <a class="nav-linker bl cursor" [routerLink]="['login']">LOG IN</a>
        </li>
        <li class="tn1" *ngIf="loggedIn">
          <a class="nav-linker bl cursor" [routerLink]="" (click)="onLogout()">LOG OUT</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="mid-menu ">
      <a href="" class="logo">
        <!-- <img src="./assets/custom/images/logo.png" alt=""> -->
      </a>

    </div>
  </div>
</header>
<!-- header-end -->
<!--navbar-start  -->
<div class="nav-holder " *ngIf="showHeader">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <button class="navbar-toggler hamburger hamburger--vortex " type="button" data-toggle="collapse"
        (click)="isCollapsed = !isCollapsed" data-target="#navbarNav" aria-controls="navbarNav"
        [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" [ngClass]="{'is-active': !isCollapsed}">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse " [ngbCollapse]="isCollapsed" [ngClass]="{'show': !isCollapsed}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">HOME<span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['markets']">PHARMACIES</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['direction']">DIRECTIONS</a>
          </li> -->




          <li class="nav-item">
            <a class="nav-link" [routerLink]="['doctors']">DOCTORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['estore']">PHARMACIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openFormModal()">REGISTER</a>
          </li>
        </ul>

      </div>
      <form class="form-inline  my-lg-0" (ngSubmit)="searchStore()">
        <input class="form-control" type="search" placeholder="Search..." aria-label="Search" [(ngModel)]="filter"
          name="filter">
        <button class="searcher" type="submit">
          <i class="flaticon-search"></i>
        </button>
      </form>
    </nav>
  </div>
</div>
<!-- navbar-end -->