<header class="header">
  <div class="container">
    <div class="top-nav">
      <ul class="top-menu">
        <li class="tn1 mr-md-5 off">
          <a class="nav-linker" href="">EUR</a>
        </li>
        <li class="tn1 mr-auto">
          <a class="nav-linker" href="">ENGLISH</a>
        </li>
        <li class="tn1">
          <a class="nav-linker" (click)="goToStore()">MY STORE</a>
        </li>
        <li class="tn1 ">
          <a class="nav-linker bl" [routerLink]="['./resources']">FAQ</a>
        </li>
        <li class="tn1 ">
          <a class="nav-linker bl" [routerLink]="['./contact']">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="mid-menu ">
      <a href="" class="logo">
        <!-- <img src="../../../../assets/custom/images/logo.png" alt=""> -->
        <h3 class="logo-text">PharmaHub</h3>
      </a>
      <!-- <div class="m-group2">
        <img src="../../../../assets/custom/images/img30.jpg" alt="" class="avi">
        <div class="dropdown">
          <button class=" dash-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </button>
          <div class="dropdown-menu account" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">log-out</a>
            <a class="dropdown-item" href="#">action</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</header>
<!-- header-end -->

<div class="dashboard-container">
  <div class="dashboard-body">

    <app-dashboard></app-dashboard>

  </div>
</div>


<!-- footer-start -->
<footer>
  <div class="container">
    <div class="footer-holder">
      <address>
        <h6 class="title">CONTACT US</h6>
        <ul>
          <li class="sub-title">
            <span class="details">ADDRESS:</span>
            <span class="detail">Lagos, Nigeria</span>
          </li>

          <li class="sub-title">
            <span class="details">EMAIL</span>
            <span class="detail">
              <a class="d-link" href="">Linkupsolutionsintl@gmail.com</a>
            </span>

          </li>
          <li class="sub-title">
            <span class="details">WORKING HOURS</span>
            <span class="detail">Mon-friday 8AM- 10PM</span>
          </li>
        </ul>
      </address>
      <div class="subscribe">
        <div class="grouper">


        </div>
      </div>
      <div class="grouper">
        <div class="g1">
          <!-- <h6 class="title">MY ACCOUNT</h6> -->
          <div class="footer-links">
            <ul>
              <!-- <li class="sub-title">
                  <a [routerLink]="['about']" class="d-link">About Us</a>
                </li> -->
              <li class="sub-title">
                <a [routerLink]="['contact']" class="d-link">Contact us</a>
              </li>
              <li class="sub-title">
                <a [routerLink]="['estore']" class="d-link">Pharmacies</a>
              </li>

            </ul>
            <ul>

              <!-- <li class="sub-title">
                  <a [routerLink]="['policy']" class="d-link">Privacy Policy</a>
                </li>
                <li class="sub-title">
                  <a [routerLink]="['terms']" class="d-link">Terms and Conditions</a>
                </li> -->
            </ul>
          </div>
        </div>
        <a [routerLink]=" " class="logo2" style="color: #008080; font-size: 30px;">
          PharmaHub
          <!-- <img src="./assets/custom/images/logo.svg" alt=""> -->
        </a>
      </div>
    </div>
  </div>
  <div class="copy">
    <span class="rights">Copyright 2019 PharmaaHub. Powered by Linkup Technology innovations and solutions Ltd</span>
    <div class="social">
      <a href="https://twitter.com/PharmaaH" class="font-link twitter"><i
          class="flaticon-twitter-logo-silhouette"></i></a>
      <a href="https://web.facebook.com/pharmaahub" class="font-link facebook"><i
          class="flaticon-facebook-letter-logo"></i></a>
      <a href="https://instagram.com/pharmaahub" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
      <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
    </div>
  </div>
</footer>
<!-- footer- end -->