/* footer styles start */

footer {
    background-color: #272723;
    color: #C8C8C8;
    font-size: 12px;
}

.footer-holder {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 90px;
}

.subscribe {
    display: grid;
    grid-row-gap: 25px;
}

.grouper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grouper:nth-of-type(2), .text, .email-sub {
    margin-bottom: 25px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.grouper:first-of-type, .footer-holder {
    border-bottom: 1px solid #EBF1F1;
}

h6.title {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.details, .detail {
    display: block;
}

.details {
    font-weight: 600;
}

.sub-title {
    margin-bottom: 16px;
}

.d-link {
    color: #C8C8C8;
    font-weight: 400;
}

.d-link:active, .d-link:hover {
    color: #ffffff;
}

.text p {
    margin-bottom: 0;
}

.email-sub form {
    display: flex;
}

.email-sub form input[type='email'], .email-sub form button {
    height: 40px;
}

.email-sub form input[type='email'] {
    width: 200px;
    padding: 0 20px;
}

.email-sub form button {
    font-size: 13px;
    font-weight: bold;
    background-color: #008080;
    color: #ffffff;
    width: 100px;
}

.email-sub form button:focus, .email-sub form button:active, .email-sub form button:hover {
    color: #272723;
    background-color: #717070;
}

.logo2 {
    align-self: center;
    margin-right: 70px;
}

.copy {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* flat-icon styling */

.social {
    margin-right: 70px;
}

.font-link {
    color: #FFFFFF
}

.flaticon-twitter-logo-silhouette:before {
    margin-left: 0 !important;
}

.twitter:hover, .twitter:active {
    color: #76A9EA;
}

.facebook:hover, .facebook:hover:active {
    color: #3A559F;
}

.linkedin:hover, .linkedin:hover:active {
    color: #0084B1;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-size: 26px !important;
}

/* flat-icon styling end */

/* divider styling  */

.divider .container-fluid {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.sn, .em {
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
}

.sn {
    background-color: #000000;
    justify-content: flex-end;
    padding-right: 50px;
}

.em {
    position: relative;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #008080;
    padding-left: 25px;
}

.em::before {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 26px;
    right: 100%;
    border: 13px solid #000000;
    border-right: 26px solid #008080;
    border-left: 0 solid #000000;
}

@media(max-width:1440px) {
    .divider .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100%;
    }
}

@media(max-width: 500px) {
    .sn, .em {
        font-size: 17px;
    }
}

/* divider styling end  */

/* footer style end  */

@media (max-width: 768px) {
    .container {
        max-width: unset !important;
        padding: 0 2%
    }
    .logo {
        margin-left: 0 !important;
    }
    .off {
        margin-left: 0 !important;
    }
    .footer-holder {
        grid-template-columns: 1fr;
    }
    .grouper {
        flex-direction: column;
    }
    .grouper .text {
        margin-bottom: 25px;
    }
    .logo2 {
        align-self: unset;
    }
}

/* media queries */

@media (max-width: 426px) {
    .top-menu li a {
        font-size: 8px;
    }
    .logo img {
        width: 130px;
    }
    .rights {
        margin-bottom: 10px;
    }
}