<!-- footer-start -->
<footer *ngIf="showFooter">

  <div class="copy">
    <span class="rights">Copyright 2019 PharmaHub. Powered by Linkup Technology Innovations and Solutions Ltd</span>
    <div class="social">
      <a href="https://twitter.com/PharmaaH" class="font-link twitter"><i
          class="flaticon-twitter-logo-silhouette"></i></a>
      <a href="https://web.facebook.com/pharmaahub" class="font-link facebook"><i
          class="flaticon-facebook-letter-logo"></i></a>
      <a href="https://instagram.com/pharmaahub" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
      <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
    </div>
  </div>
</footer>
<!-- footer- end -->