<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">Add Products</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">&times;
    </button>
  </div>

  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label for="ProductName" class="label-title">Product Name</label>
          <input type="text" class="form-control" formControlName="productName" />
        </div>
        <div class="form-group">
          <label for="Description" class="label-title">Product Description</label>
          <textarea class="form-control" formControlName="Description"></textarea>
        </div>


        <div class="form-group">
          <label for="spec" class="label-title">Specifications</label>
          <textarea class="form-control" formControlName="Specification"></textarea>
        </div>
        <div class="form-group">
          <label for="storeType" class="label-title">Category</label>
          <input type="text" class="form-control" formControlName="Brand" />
        </div>
        <div class="form-group">
          <label for="brand" class="label-title">Brand</label>
          <input type="text" class="form-control" formControlName="Category" />
        </div>
        <div class="form-group">
          <label for="price" class="label-title">Price</label>
          <input type="text" class="form-control" formControlName="Price" />
        </div>
        <div class="form-group">
          <label for="discount" class="label-title">Discount</label>
          <input type="text" class="form-control" formControlName="Discount" />
        </div>
        <div class="form-group">
          <label for="market" class="label-title">location</label>
          <input type="text" class="form-control" formControlName="location" />
        </div>
        <div class="form-group">
          <div class="btn btn-primary btn-block" (click)="PhotoInput.click()">
              Upload Image   <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
              <input hidden type="file" #PhotoInput  (change)="uploadPhoto($event)">
          <div class="col-md-4">
              <span class="upload" *ngIf="progress > 0">
                {{progress}}%
              </span>
              <span class="upload" *ngIf="message">
                {{message}}
              </span>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary btn-sm" [disabled]="productForm.invalid || loading">
        Submit Form
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
    </div>
  </form>
  <!-- <button class="btn btn-primary btn-sm" (click)="uploadimage()">UploadImage </button> -->
</div>
