.side-nav {
  padding-left: 0px !important;
  background: #ffffff;
  padding-right: 0px !important;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 100;
  /* min-height: 20em; */
  margin-bottom: 40px;
}

.body-container {
  background: #ffffff;
  padding-top: 20px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.sidenav-container {
  margin-left: auto;
}

.row-container {
  padding-top: 40px;
}

.card-body {
  padding: 1.5rem;
  font-family: sans-serif;
}

.cardbody-details {
  padding: 0 0 20px;
  border-bottom: 1px solid #f0f0f0;
  /* padding: 20px; */
  text-align: center;
}

.card {
  border: 1px solid #f0f0f0;
}

.card-table .card-body {
  padding: 0;
}

.card-table.table td {
  border-top: 1px solid #e2e5e8;
  padding: 1rem 0.75rem;
  white-space: nowrap;
}

.bg-success-light {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
}

.bg-danger-light {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
}

.bg-active-light {
  background-color: rgba(126, 162, 240, 0.12) !important;
  color: #007bff!important;
}

.bg-warning-light {
  background-color: rgba(255, 152, 0, 0.12) !important;
  color: #f39c12 !important;
}

.table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.userimg-container {
  display: inline-block;
  margin: 0 0 15px;
  width: auto;
  padding: 8px;
  background-color: #f7f7f7;
  border-radius: 50%;
}

.profile-info h3 {
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-details h5 {
  color: #757575;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.patient-info {
  margin-top: 15px
}

.patient-info ul {
  padding: 0;
  list-style: none;
  font-size: .875rem;
  margin: 0;
}

.patient-info ul li {
  position: relative;
  font-size: .875rem;
  font-weight: bold;
  color: #272b41;
  text-transform: capitalize;
}

.patient-info ul li span {
  color: #757575;
  float: right;
  font-weight: 400;
}

.user-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card-header {
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background: #ffffff;
}

.card-title {
  font-size: 1.125rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.text-sm {
  font-size: .875rem !important;
}

.media-body h5 {
  font-size: 1rem;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 20px;
}

.nav-tabs a {
  color: #008080;
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-view {
  background-color: rgba(2, 182, 179, 0.12) !important;
  color: #1db9aa !important;
  border-color: transparent !important;
}

.modal-content {
  border-radius: .3rem !important;
}

.modal-group-item {
  padding-left: 0 !important;
}

.pres-header {
  border-bottom: 0px !important;
  font-family: sans-serif;
}