<div class="page-container container-fluid">
  <div class="row row-container">
    <div class="col-md-5 col-lg-4 col-xl-3 sidenav-container">
      <div class="side-nav" *ngIf="user">
        <div class="card-body">
          <div class="cardbody-details">
            <div class="userimg-container">
              <img class="user-img" src="{{user.imageUrl}}" alt="">
            </div>
            <div class="profile-info">
              <h3>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</h3>
              <div class="profile-details">
                <h5><b>Patient ID: </b> {{userCode}}</h5>
                <h5 class="mb-0">
                  <i class="fa fa-map-marker"></i>
                  {{user.address | titlecase}}
                </h5>
              </div>
            </div>
          </div>
          <div class="patient-info">
            <ul>
              <li>Phone
                <span>{{user.phoneNumber}}</span>
              </li>
              <li>Age
                <span>{{user.age}}</span>
              </li>
              <li>Sex
                <span>{{user.gender}}</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="side-nav">
        <div class="card-header">
          <h4 class="card-title">Last Appointments</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let doc of recentDoctorsApp; let i = index;">
            <div class="media align-items-center">
              <div class="mr-3">
                <img src="{{doc.user.imageUrl}}" alt="image placeholder" class="avatar rounded-circle">
              </div>
              <div class="media-body">
                <h5 class="d-block mb-0"> Dr. {{doc.user.firstName | titlecase}} {{doc.user.lastName | titlecase}}</h5>
                <span class="d-block text-sm text-muted">{{doc.specialization.specializationName | titlecase}}</span>
                <span
                  class="d-block text-sm text-muted">{{recentAppointments[i].sessionStartDateTime | date:'medium'}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-6 col-lg-7 col-xl-8 body-container">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-apt" role="tab"
            aria-controls="nav-home" aria-selected="true">Appointments</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-bill" role="tab"
            aria-controls="nav-profile" aria-selected="false">Billing</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-data" role="tab"
            aria-controls="nav-profile" aria-selected="false">Bio Data</a>
        </div>
      </nav>

      <div class="tab-content">
        <!-- appointment-tab -->
        <div id="nav-apt" class="tab-pane fade show active">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Ailment</th>
                      <th>Diagnosis</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let apt of appointments; let i = index;">
                      <td>{{apt.sessionCode}}</td>
                      <td>{{apt.sessionStartDateTime | date: 'medium'}}</td>
                      <td>
                        <span class="badge badge-pill" [ngClass]="{'bg-success-light': apt.status == 'Completed',
                        'bg-warning-light': apt.status == 'Pending',
                        'bg-active-light': apt.status == 'Active'}">
                          {{apt.status}}
                        </span>
                      </td>
                      <td>{{apt.patientAilment}}</td>
                      <td>{{apt.diagnosis}}</td>
                      <td> <a class="btn-view btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter"
                          (click)="toggleModal(apt.sessionId)">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



        <!-- billint tab -->
        <div id="nav-bill" class="tab-pane fade show">
          This page is under construction please check back later.
        </div>

        <!-- bio data tab -->
        <div id="nav-data" class="tab-pane fade show">
          This page is under construction please check back later.
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<app-pres-modal *ngIf="showModal" [session]="session" [doctorDetails]="doctorDetails">
</app-pres-modal> -->


<!-- modal section -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" *ngIf="showModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Prescription Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="card-header" *ngIf="doctorDetails">
            <ul class="list-group list-group-flush">
              <li class="list-group-item modal-group-item">
                <div class="media align-items-center">
                  <div class="mr-3">
                    <img src="{{doctorDetails.user.imageUrl}}" alt="image placeholder" class="avatar rounded-circle">
                  </div>
                  <div class="media-body">
                    <h5 class="d-block mb-0"> Dr. {{doctorDetails.user.firstName | titlecase}}
                      {{doctorDetails.user.lastName | titlecase}}
                    </h5>
                    <span
                      class="d-block text-sm text-muted">{{doctorDetails.specialization.specializationName | titlecase}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="card-header pres-header" *ngIf="session">
            <div *ngFor="let pres of session.prescriptions">
              {{ pres.comment}}
            </div>
            <div *ngIf="session.prescriptions.length == 0">Your doctor did not prescribe any medications for you.</div>
          </div>

        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div> -->
    </div>
  </div>
</div>