*, ::after, ::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: "Poppins";
  background: #ffffff;
}

/* scrollbar styles start */

body::-webkit-scrollbar {
  /* background-color: transparent; */
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar styles end*/

ul, address {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a, a:hover, a:active, a:focus button, button:hover, button:active, button:focus {
  text-decoration: none;
  display: inline-block;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  outline: none;
}

button {
  white-space: nowrap;
  text-align: center;
  padding: 0;
  border: 0;
}

input {
  padding: 0;
  border: 0;
  white-space: nowrap;
  display: block;
}

input:focus, input:active {
  /* border: 1px solid #008080; */
  outline: none;
}

input::placeholder {
  font-size: 14px;
  opacity: 1;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}

.pl-2 {
  padding-left: 33.5rem !important;
}

.loading-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

input:focus::placeholder, input:active::placeholder {
  opacity: 0;
  font-size: 0;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}

.stnd-bttn {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  width: 120px;
  font-weight: 600;
  border-radius: 5px;
}

.sign {
  color: #008080;
  background-color: #ffffff;
}

.sign:hover, .sign:active {
  color: #ffffff;
  background-color: #272723;
}

.header {
  visibility: visible;
  width: 100%;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

.suck {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

div.scrolled {
  background-color: #008080;
  position: fixed;
  box-shadow: 0px 2px 77px rgba(66, 66, 66, 0.411232) !important;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  width: 100%;
  z-index: 1000;
  top: 0;
  color: #ffffff;
}

.my-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

span.slasher {
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
  font-weight: normal;
  color: #7b858a;
}

/* global scopes end */

/* header-styles */

header.header {
  background: #008080;
}

.top-menu {
  display: flex;
  border-bottom: 0.25px solid #e5e5e5;
  padding: 5px 0;
}

.tn1 {
  padding: 3px;
  display: inline-block;
}

.top-menu li a {
  color: #ffffff;
  font-size: 12px;
}

.top-menu li a:hover, .top-menu li a:active, .call:hover, .call:active {
  color: #272723;
}

.off {
  margin-left: -10px !important;
}

.bl {
  border-left: 0.5px solid #ffffff;
  padding: 0 10px;
}

.bl2 {
  border-left: 0.5px solid #ffffff;
  padding-left: 10px;
}

.logo {
  color: #ffffff;
  margin-left: -30px;
}

.logo img {
  max-width: 200px;
  object-fit: cover;
  object-position: center;
}

.m-group2 {
  display: flex;
  align-items: center;
}

.call {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  align-self: baseline;
}

.small {
  font-size: 10px;
}

.drk-blue {
  background-color: #008080;
  color: #ffffff;
}

.drk-blue:hover, .drk-blue:active {
  background-color: #ffffff;
  color: #008080;
}

.mid-menu {
  padding: 4px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-menu .logo img {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 425px) {
  .big {
    display: none;
  }
  .small {
    white-space: nowrap;
  }
  .m-group2 {
    align-items: baseline;
  }
}

/*  nav-bar styles*/

.nav-holder {
  background: #ebf1f1;
  color: #717070;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}

.navbar {
  padding: 8px 0;
}

ul li.nav-item {
  margin-right: 30px;
}

.navbar-nav .nav-item .nav-link {
  color: #717070;
  font-size: 12px;
  transition: color ease-in-out 100ms;
  -webkit-transition: color ease-in-out 100ms;
  -moz-transition: color ease-in-out 100ms;
  -ms-transition: color ease-in-out 100ms;
  -o-transition: color ease-in-out 100ms;
}

.navbar-nav .nav-item a.inherit {
  color: #ffffff;
  transition: color ease-in-out 100ms;
  -webkit-transition: color ease-in-out 100ms;
  -moz-transition: color ease-in-out 100ms;
  -ms-transition: color ease-in-out 100ms;
  -o-transition: color ease-in-out 100ms;
}

.navbar-nav .nav-item a.inherit:hover, .navbar-nav .nav-item a.inherit:active {
  color: #000000;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:active {
  color: #008080;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

button.navbar-toggler {
  border: 0;
}

ul.navbar-nav {
  margin-right: auto;
}

button.navbar-toggler.hamburger.hamburger--vortex, button.navbar-toggler.hamburger.hamburger--vortex[aria-expanded="true"] {
  padding: 0;
}

form.form-inline {
  flex-flow: unset;
  align-items: unset;
}

form.form-inline input.form-control {
  background: #ffffff;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form.form-inline input.form-control:focus {
  border: 1px solid #008080;
  box-shadow: unset;
  outline: none;
}

button.searcher {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  white-space: nowrap;
  background-color: #008080;
  color: #ffffff;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

button.searcher:active, button.searcher:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all ease-in-out 20ms;
  -webkit-transition: all ease-in-out 20ms;
  -moz-transition: all ease-in-out 20ms;
  -ms-transition: all ease-in-out 20ms;
  -o-transition: all ease-in-out 20ms;
}

button.scht {
  background-color: #000000;
  color: #ffffff;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

/* hamburger start */

.navbar-toggler .hamburger-box {
  margin-right: 10px;
}

.navbar-toggler .hamburger-box, .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::before, .hamburger-box .hamburger-inner::after {
  width: 26px;
  color: #008080;
}

.hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::before, .hamburger-box .hamburger-inner::after {}

/* hamburger end */

@media (max-width: 576px) {
  /* form.form-inline input.form-control {
        width: 100%;
    } */
  /* button.searcher {
        margin-top: 15px;
    } */
}

/* nav-style end */

/* bootstrap-carousel styles */

.carousel-indicators li {
  height: 5px;
  background-color: #ffffff;
  opacity: 1;
}

.carousel-indicators .active, .darker li.active {
  background-color: #008080 !important;
}

.darker li {
  background-color: #000000;
}

a.carousel-control-prev {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
}

a.carousel-control-prev, a.carousel-control-next {
  opacity: 1;
}

.flaticon-arrow-point-to-right:before {
  color: #008080;
}

/* bootstrap-carousel styles  end */

/* divider styling  */

.divider .container-fluid {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.divider-link {
  display: block;
  width: 50%;
}

.sn, .em {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}

.sn {
  background-color: #000000;
  justify-content: flex-end;
  padding-right: 50px;
}

.em {
  position: relative;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #008080;
  padding-left: 25px;
}

.em::before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 26px;
  right: 100%;
  border: 13px solid #000000;
  border-right: 26px solid #008080;
  border-left: 0 solid #000000;
}

@media (max-width: 1440px) {
  .divider .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .sn, .em {
    font-size: 17px;
  }
}

/* divider styling end  */

/* search bar style start */

.search-bar {
  background: #ebf1f1;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 110px;
  margin-bottom: 75px;
}

.search-bar .search-form {
  display: flex;
}

.form-grouping {
  display: flex;
  margin-right: auto;
}

.form-grouping .searcher {
  background-color: inherit;
  min-width: 215px;
}

.flaticon-search::before {
  margin-left: 0 !important;
  font-size: 17px !important;
}

.dropdown-holder {
  display: flex;
}

.dropdown:first-of-type {
  margin-right: 15px;
}

.dropdown-toggle {
  background-color: transparent !important;
  outline: none !important;
}

button.dropdown-toggle::after {
  content: none;
}

.dropdown-title {
  font-weight: 500;
  font-size: 14px;
  color: #7b858a;
  display: inline-block;
  margin-right: 20px;
}

.flaticon-down-arrow {
  display: flex !important;
  justify-self: end;
  align-items: center;
}

.flaticon-down-arrow::before {
  content: "";
  margin-left: 0 !important;
  font-size: 7px !important;
  color: #979797;
  border: 0.5px solid #979797;
  padding: 7px;
  opacity: 0.8;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

.dropdown-toggle[aria-expanded="true"] .flaticon-down-arrow::before {
  opacity: 1;
  border: 0.5px solid #000000;
  color: #000000;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

div.dropdown-menu.show {
  left: -58px !important;
}

.dropdown-item {
  font-weight: 500;
  font-size: 15px;
  color: #008080;
  mix-blend-mode: normal;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: transparent;
}

.dropdoqn-divider {
  border: 1px solid #979797 !important;
}

/* dropdown in dropdown styles */

.dropper {
  display: block;
  white-space: normal;
}

.sub-drop {
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
}

.dropper:hover .sub-drop {
  max-height: 500px;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

.sub-droplink {
  color: #272727;
  font-weight: 500;
  font-size: 14px;
}

/* .sub-drop . */

/* dropdown in dropdown styles */

@media (max-width: 500px) {
  .search-bar .search-form {
    flex-direction: column;
  }
  .form-grouping {
    margin-bottom: 20px;
  }
  .dropdown-holder {
    justify-content: space-between;
  }
  .pl-2 {
    padding-left: 47% !important;
  }
}

/* searchbar style end */

/* footer styles start */

footer {
  background-color: #272723;
  color: #c8c8c8;
  font-size: 12px;
}

.footer-holder {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 90px;
}

.subscribe {
  display: grid;
  grid-row-gap: 25px;
}

.grouper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grouper:nth-of-type(2), .text, .email-sub {
  margin-bottom: 25px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.grouper:first-of-type, .footer-holder {
  border-bottom: 1px solid #ebf1f1;
}

h6.title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}

.details, .detail {
  display: block;
}

.details {
  font-weight: 600;
}

.sub-title {
  margin-bottom: 16px;
}

.d-link {
  color: #c8c8c8;
  font-weight: 400;
}

.d-link:active, .d-link:hover {
  color: #ffffff;
}

.text p {
  margin-bottom: 0;
}

.email-sub form {
  display: flex;
}

.email-sub form input[type="email"], .email-sub form button {
  height: 40px;
}

.email-sub form input[type="email"] {
  width: 200px;
  padding: 0 20px;
}

.email-sub form button {
  font-size: 13px;
  font-weight: bold;
  background-color: #008080;
  color: #ffffff;
  width: 100px;
}

.email-sub form button:focus, .email-sub form button:active, .email-sub form button:hover {
  color: #272723;
  background-color: #717070;
}

.logo2 {
  align-self: center;
  margin-right: 70px;
}

.copy {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* flat-icon styling */

.social {
  margin-right: 70px;
}

.font-link {
  color: #ffffff;
}

.flaticon-twitter-logo-silhouette:before {
  margin-left: 0 !important;
}

.twitter:hover, .twitter:active {
  color: #76a9ea;
}

.facebook:hover, .facebook:hover:active {
  color: #3a559f;
}

.linkedin:hover, .linkedin:hover:active {
  color: #0084b1;
}

.font-link .flaticon-twitter-logo-silhouette.flaticon-twitter-logo-silhouette::before, .font-link .flaticon-facebook-letter-logo.flaticon-facebook-letter-logo::before, .font-link .flaticon-instagram-logo.flaticon-instagram-logo::before, .font-link .flaticon-linkedin-logo.flaticon-linkedin-logo::before {
  font-size: 26px !important;
}

/* flat-icon styling end */

/* footer style end  */

@media (max-width: 768px) {
  .container {
    max-width: unset !important;
    padding: 0 2%;
  }
  .logo {
    margin-left: 0 !important;
  }
  .off {
    margin-left: 0 !important;
  }
  .footer-holder {
    grid-template-columns: 1fr;
  }
  .grouper {
    flex-direction: column;
  }
  .grouper .text {
    margin-bottom: 25px;
  }
  .logo2 {
    align-self: unset;
  }
}

/* media queries */

@media (max-width: 426px) {
  .top-menu li a {
    font-size: 8px;
  }
  .logo img {
    width: 130px;
  }
  .rights {
    margin-bottom: 10px;
  }
}

/* removing number counter on input[type number] start */

input[type="number"] {
  -moz-appearance: textfield;
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* removing number counter on input[type number] start */

/* main slider styling  */

.main-slider .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.c-grid {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

.min-h {
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: unset;
  top: 50%;
  margin-top: -117px;
  text-align: left;
  padding: 0;
}

.carousel-caption .sbttn {
  padding: 5px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: 500;
}

.carousel-caption h2 {
  font-weight: bold;
  font-size: 45px;
  margin: 20px 0;
}

.carousel-caption p {
  font-size: 14px;
  margin-bottom: 25px;
}

.mgr {
  margin-right: 20px;
}

.carousel-control-prev, .carousel-control-next {
  width: unset !important;
  position: static !important;
  align-self: center;
  justify-self: center;
}

@media (max-width: 1440px) {
  .main-slider .container {
    max-width: 100%;
  }
}

@media (min-width: 767px) {
  .min-h {
    height: 134px;
    /* min-height: px !important; */
  }
}

@media (max-width: 767px) {
  .carousel-control-next, .carousel-control-prev {
    display: none !important;
  }
  .c-grid {
    grid-template-columns: 1fr;
  }
}

/* main slider styling-end  */

/* discount,features and Products shop stylings start */

.features, .discounts, .products {
  padding: 60px 0;
}

.discounts {
  background-color: #ebf1f1;
}

.products {
  background-color: #f4f4f4;
}

.heading h6 {
  font-size: 14px;
  color: #c8c8c8;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

.heading h3 {
  font-weight: 600;
  font-size: 24px;
  color: #21293c;
  text-align: center;
  margin-bottom: 15px;
}

.page-linker {
  text-align: right;
  padding-bottom: 15px;
}

.page-linker .see-all {
  font-size: 16px;
}

.darker {
  position: static !important;
  margin-bottom: 60px;
}

.card-container {
  position: relative;
}

.card-container:focus .move-left {
  opacity: 1;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}

span.move-left, span.move-right {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  background-color: transparent;
  justify-content: center;
  opacity: 0;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  z-index: 200;
}

span.active4 {
  opacity: 1;
  transition: all ease-out 300ms;
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
}

.move-left {
  left: 0;
}

.move-right {
  right: 0;
}

.move-left i.flaticon-arrow-point-to-right::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.move-right i.flaticon-arrow-point-to-right::before, .move-left i.flaticon-arrow-point-to-right::before {
  content: "\f106 ";
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  color: #008080;
  background-color: #272723;
  padding: 10px;
  opacity: 0.7;
  top: 50%;
  float: right;
  display: block;
  margin-left: 0;
}

.cards-holder {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(230px, 250px);
  overflow-x: scroll;
  width: 94%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
}

.cards-holder::-webkit-scrollbar {
  display: none;
}

.cards {
  max-width: 250px;
  position: relative;
  width: 94%;
}

.tagger {
  position: absolute;
  background-color: #ff546e;
  color: #ffffff;
  white-space: normal;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 7px;
}

.cards img {
  width: 96%;
  object-fit: cover;
  object-position: top;
  margin: auto;
  height: 176px;
}

.cards-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #eeeeee;
  padding: 12px 0;
  background-color: #ffffff;
  /* box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); */
}

.cards-title .name {
  color: #21293c;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  max-width: 90%;
}

.cards-title .sales-price {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  max-width: 90%;
  color: #757575;
}

.naira-sign {
  margin-right: 5px;
}

.cards-title .product-price {
  font-size: 14px;
  margin-right: 0;
}

.cards-title button {
  color: #ffffff;
  background-color: #008080;
  font-size: 12px;
  padding: 3px 25px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* rating system */

/* .rating{
  margin-bottom: 12px;
} */

.flaticon-star:before {
  margin-left: 2px !important;
  font-size: 20px !important;
}

/* rating-system */

/* discount and features shop stylings end */

/* shop-type section start */

.shop-type {
  padding: 130px 0 150px 0;
}

.shop-type .container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
}

.w-card {
  display: flex;
}

.light, .dark {
  display: flex;
  flex-direction: column;
  height: 300px;
  white-space: nowrap;
  margin: 0;
}

.light {
  color: #717070;
  background-color: #ebf1f1;
  width: 248px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  border-right: none !important;
}

.light span, .dark span {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 8px;
}

.light h5 {
  font-weight: 600;
  font-size: 28px;
}

.light h5, .dark h5 {
  margin-bottom: 0;
}

.dark {
  color: #ffffff;
  background-color: #0051cf;
  width: 300px;
  position: relative;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
}

.dark::before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -17px;
  right: 100%;
  border: 13px solid #ebf1f1;
  border-right: 26px solid #0051cf;
  border-left: 0 solid #ebf1f1;
  z-index: 5;
}

.dark h4 {
  font-weight: 600;
  font-size: 48px;
}

.dark button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark button:active, .dark button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0;
}

@media (max-width: 600px) {
  .shop-type .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .light, .dark {
    height: 220px;
  }
  .dark {
    padding-right: 2%;
    width: 180px;
  }
  .dark h4 {
    font-size: 24px;
  }
  .dark button {
    font-size: 12px;
  }
  .light {
    width: 135px;
    padding-left: 2%;
  }
  .light span, .dark span {
    font-size: 9px;
  }
  .light h5 {
    font-size: 20px;
  }
}

/* shop-type section end*/

/****** Style Star Rating Widget *****/

.rating, .rating2, .rating3 {
  border: none;
  float: left;
}

.rating>input, .rating2>input, .rating3>input {
  display: none;
}

.rating>label:before, .rating2>label:before, .rating3>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  font-weight: 900;
}

.rating>.half:before, .rating2>.half:before, .rating3>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label, .rating2>label, .rating3>label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */

.rating:not(:checked)>label:hover,
/* hover current star */

.rating:not(:checked)>label:hover~label, .rating2>input:checked~label, .rating2:not(:checked)>label:hover, .rating2:not(:checked)>label:hover~label, .rating3>input:checked~label, .rating3:not(:checked)>label:hover, .rating3:not(:checked)>label:hover~label {
  color: #ffd700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */

.rating>input:checked~label:hover, .rating>label:hover~input:checked~label,
/* lighten current selection */

.rating>input:checked~label:hover~label, .rating2>input:checked+label:hover, .rating2>input:checked~label:hover, .rating2>label:hover~input:checked~label, .rating2>input:checked~label:hover~label, .rating3>input:checked+label:hover, .rating3>input:checked~label:hover, .rating3>label:hover~input:checked~label, .rating3>input:checked~label:hover~label {
  color: #ffed85;
}