.admin-profile {
  display: flex;
  padding: 6px;
  width: 23%;
  left: 48%;
  margin: auto;
  position: relative;
}

.admin-profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.admin-profile div {
  padding-top: 11px;
  color: #ffffff;
  font-weight: bold;
}