<span class=" clickable td4" *ngIf="!appointments" id="overlay"><i class="fa fa-spinner fa-spin fa-fw"></i></span>

<ng-container *ngIf="appointments">

  <header class="header" *ngIf="showHeader">
    <div class="top-nav">
      <div class="admin-profile">
        <img src="{{doctorDetail.user.imageUrl}}" alt="">
        <div>{{doctorDetail.user.firstName | titlecase}}</div>
      </div>
    </div>
  </header>
  <!-- header-end -->

  <div class="dashboard-container">
    <div class="dashboard-body">

      <app-doctor-dashboard [doctorDetail]="doctorDetail" [appointments]="appointments"></app-doctor-dashboard>

    </div>
  </div>


  <!-- footer-start -->
  <footer *ngIf="showHeader">

    <div class="copy">
      <span class="rights">Copyright 2019 PharmaaHub. Powered by Linkup Technology innovations and solutions Ltd</span>
      <div class="social">
        <a href="https://twitter.com/PharmaaH" class="font-link twitter"><i
            class="flaticon-twitter-logo-silhouette"></i></a>
        <a href="https://web.facebook.com/pharmaahub" class="font-link facebook"><i
            class="flaticon-facebook-letter-logo"></i></a>
        <a href="https://instagram.com/pharmaahub" class="font-link instagram"><i
            class="flaticon-instagram-logo"></i></a>
        <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
      </div>
    </div>
  </footer>
  <!-- footer- end -->
</ng-container>